<template>
  <div class="retailer-commissions-page">
    <PageTitle>Retailers</PageTitle>
    <Card>
      <template #header>
        <CardHeading
          title="Commissions"
          subtitle="Select a retailer to establish their commissions per sales"
        />
      </template>
      <q-form ref="commissionsForm" :greedy="true">
        <div class="form-fields">
          <InputSelectFilter
            v-model="inputs.retailerId"
            v-bind="fields.retailerId"
            :options="listOfRetailers"
            :init-value="inputs.retailerId"
            autofocus
            data-testid="settlement-rules-retailerid"
          />
          <InputText
            v-model.number="inputs.sales"
            v-bind="fields.sales"
            data-testid="load-game-other-definitions-after-pack-activation"
            type="number"
          />
          <InputText
            v-model.number="inputs.prizePayment"
            v-bind="fields.prizePayment"
            data-testid="load-game-other-definitions-after-pack-reception"
            type="number"
          />
        </div>
        <div class="form-actions">
          <ButtonBase
            variant="outlined"
            type="primary"
            data-testid="settlement-rules-save-exit"
            :to="RETAILER_DASHBOARD"
          >
            Cancel
          </ButtonBase>
          <ButtonBase
            variant="flat"
            type="primary"
            data-testid="settlement-rules-save-load"
            @click="formActions.saveRules"
          >
            Save commissions
          </ButtonBase>
        </div>
      </q-form>
    </Card>
  </div>
</template>

<script setup lang="ts">
import {
  RETAILER_DASHBOARD
} from '~/constants/paths'

import { validations } from '~/utils/validations'
import { retailerService } from '~/api/services'

const router = useRouter()

const listOfRetailers = ref([])

onBeforeMount(async () => {
  const res = await retailerService.retailers.getAll({ status: 'ALL' })
  if (res.data.value) {
    setInitialData(res.data.value)
  }
})

const setInitialData = (data: { retailerId: string; retailerName: string }[]) => {
  const listOfFetchedRetailers = data.map((el: { retailerId: string; retailerName: string; }) => {
    return {
      label: el.retailerName,
      value: el.retailerId
    }
  })
  listOfRetailers.value = listOfFetchedRetailers
}

const inputs = ref({
  retailerId: undefined,
  sales: undefined,
  prizePayment: undefined
})

const fields = {
  retailerId: {
    label: 'Retailer',
    placeholder: 'Select a retailer',
    rules: [
      (input: string) => {
        return (
          validations.isNotEmpty(input)) ||
          'You must select a retailer to apply settlement rules'
      }
    ]
  },
  sales: {
    label: 'Sales comissions',
    placeholder: 'Enter percentage for sales commission',
    prependIcon: 'percent',
    rules: [
      (input: number) => {
        return (validations.types.isNumber(input) && validations.compare.isNumberInRange(input, [0, 100])) ||
        'Enter a percentage'
      }
    ]
  },
  prizePayment: {
    label: 'Prize payment comissions',
    placeholder: 'Enter percentage for prize payment commissions',
    prependIcon: 'percent',
    rules: [
      (input: number) => {
        return (validations.types.isNumber(input) && validations.compare.isNumberInRange(input, [0, 100])) ||
        'Enter a percentage'
      }
    ]
  }
}

const commissionsForm = ref<any>(null)

const validate = () => commissionsForm.value.validate()

const submitData = async () => {
  const { retailerId, ...params } = inputs.value
  if (retailerId) {
    const res = await retailerService.commissions.put(retailerId, params)
    return res
  }
}

const formActions = {
  saveRules: async () => {
    const isFormValid = await validate()
    if (isFormValid) {
      const res = await submitData()
      const { error } = res
      if (error.value) {
        alert(error.value.data.message)
      } else {
        router.push(RETAILER_DASHBOARD)
      }
    }
  }
}

</script>

<style lang="scss" scoped>
.form-container {
  padding: 2rem 1.6rem;
}

.form-fields {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
}

.form-actions {
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 1px solid $grey100;
  display: flex;
  gap: 1.5rem;
}
</style>

<style lang="scss">
.q-field--auto-height.q-field--labeled .q-field__control-container {
  padding-top: 0 !important;
}
</style>
