<template>
  <q-item class="list-item">
    <span class="list-item-title">{{ title }}</span>
    <div class="list-item-value">
      <span
        v-if="!value && placeholder"
        class="list-item-value-placeholder"
      >{{ placeholder }}</span>
      <span v-if="!!value">
        <template v-if="valueToLocale">{{ value.toLocaleString("en-US") }}</template>
        <template v-else>{{ value }}</template>
      </span>
    </div>
  </q-item>
</template>

<script setup lang="ts">
interface Props {
  title: string
  value?: string | number
  placeholder?: string
  valueToLocale?: boolean
}

withDefaults(defineProps<Props>(), {
  title: '',
  placeholder: undefined,
  value: undefined,
  valueToLocale: false
})
</script>

<style lang="scss" scoped>
.list-item {
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  align-items: baseline;
}

.list-item-title {
  font-weight: 600;
  color: $grey400;
  font-size: 1rem;
}

.list-item-value-placeholder {
  font-size: 0.875rem;
  color: $grey200;
}
</style>
