<template>
  <StepperBar :current-step="currentStep" :steps="loadSteps" />
</template>

<script setup lang="ts">
interface Props {
  currentStep?: number
}

withDefaults(defineProps<Props>(), {
  currentStep: 1
})

const loadSteps = [
  {
    title: 'Game definition',
    icon: '1'
  },
  {
    title: 'Prize structure'
  },
  {
    title: 'GLTP'
  },
  {
    title: 'Ticket design'
  },
  {
    title: 'Other definitions'
  },
  {
    title: 'Review & load'
  }
]
</script>
