<template>
  <div class="card-heading">
    <span v-if="title" class="card-heading-title">{{ title }}</span>
    <span v-if="subtitle" class="card-heading-subtitle">{{ subtitle }}</span>
  </div>
</template>

<script setup lang="ts">
interface Props {
  title?: string
  subtitle?: string
}

withDefaults(defineProps<Props>(), {
  title: undefined,
  subtitle: undefined
})

</script>

<style scoped lang="scss">
.card-heading {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 3rem;
}

.card-heading-title {
  color: $grey400;
  font-weight: 600;
  font-size: 1.5rem;
}

.card-heading-subtitle {
  color: $grey300;
  font-weight: 600;
  font-size: 1rem;
}
</style>
