<template>
  <span class="card-heading-section">{{ title }}</span>
</template>

<script setup lang="ts">
interface Props {
  title: string
}

withDefaults(defineProps<Props>(), {
  title: 'Title'
})

</script>

<style scoped lang="scss">
.card-heading-section {
  color: $grey400;
  font-weight: 600;
  font-size: 1.25rem;
  margin-bottom: 1rem;
  display: block;
}
</style>
