<template>
  <q-card class="main-card">
    <header v-if="$slots.header">
      <slot name="header" />
    </header>
    <slot />
    <footer v-if="$slots.footer">
      <slot name="footer" />
    </footer>
  </q-card>
</template>

<style scoped lang="scss">
.main-card {
  padding: 2rem;
  border-radius: 8px;
  background-color: $white;
  border-color: $grey200;
  width: 100%;
}

.main-card.q-card > div:not(:first-child) {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  border-bottom: inherit
}
</style>
