<template>
  <div class="retailer-detail-page">
    <PageTitle>Retailer detail</PageTitle>
    <Card>
      <template #header>
        <div class="card-header-wizard">
          <nuxt-link
            class="card-header-wizard-goback"
            data-testid="retailer-detail-back"
            :to="RETAILER_DASHBOARD"
          >
            <q-icon name="arrow_back" />
            Go back
          </nuxt-link>
          <span v-if="retailerInfo.retailerNumber" class="card-header-retailer-name">ID: {{ retailerInfo.retailerNumber }}</span>
        </div>
        <div class="card-header__retailer">
          <CardHeading
            :title="retailerInfo.retailerName"
            class="card-header__retailer-name"
          />
          <RetailerDetailStatus :status="retailerInfo.retailerStatus" />
        </div>
      </template>
      <RetailerDetail :retailer-id="retailerId">
        <RouterView />
      </RetailerDetail>
    </Card>
  </div>
</template>

<script setup lang="ts">
import {
  RETAILER_DASHBOARD
} from '~/constants/paths'

const { params } = useRoute()
const { retailerId } = params

provide('retailerId', retailerId)

const retailerInfo = ref<any>({
  retailerNumber: retailerId,
  retailerName: 'Hane group',
  retailerStatus: 'ACTIVE'
})

</script>

<style lang="scss" scoped>
.form-actions {
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 1px solid $grey100;
  display: flex;
  gap: 1.5rem;
}

.card-header-wizard {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  height: 2rem;
}

.card-header-wizard-goback {
  color: $blue500;
  font-weight: 600;
  font-size: 1rem;
  text-decoration: none;
  i {
    margin-right: 0.25rem;
    font-size: 1.25rem;
  }
}

.card-header-retailer-name {
  background-color: $blue100;
  border-radius: 0.25rem;
  padding: 0.25rem 1rem;
  font-weight: 400;
  color: $grey400;
  border: 1px solid $grey300;
}

.card-header__retailer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 3rem;
  gap: 1rem;
}

.card-header__retailer-name {
  margin-bottom: 0;
}
</style>
