<template>
  <div class="header-wrapper">
    <PageTitle>Retailers</PageTitle>
  </div>
  <Card>
    <CardHeading
      subtitle="Manage the different retailers, create new ones, edit their information, commission and setlement rules."
    />
    <div class="button-group">
      <ButtonBase
        :to="RETAILER_CREATE"
        variant="flat"
        type="primary"
        data-testid="add-retailer"
        class="button-group__add"
        disabled
      >
        Create a new retailer
      </ButtonBase>
      <ButtonBase
        :to="RETAILER_SETTLEMENT"
        variant="outlined"
        type="primary"
        data-testid="add-retailer"
      >
        Settlement rules
      </ButtonBase>
      <ButtonBase
        :to="RETAILER_COMMISSIONS"
        variant="outlined"
        type="primary"
        data-testid="add-retailer"
      >
        Commissions
      </ButtonBase>
    </div>
    <PannelTip type="warning" class="pannel-tip">
      <span>Some of the retailers below may have missing information in ther Master data. Please complete the information to activate them</span>
    </PannelTip>
    <div class="retailers-list-all">
      <RetailerListFilters />
      <RetailerListAll />
    </div>
  </Card>
</template>

<script setup lang="ts">
import { retailerFiltersModel } from 'models/retailer'
import { RETAILER_CREATE, RETAILER_SETTLEMENT, RETAILER_COMMISSIONS } from '~/constants/paths'

const retailerFilters = ref<retailerFiltersModel>({
  retailerName: '',
  retailerStatus: 'ALL'
})
provide('retailerFilters', retailerFilters)
</script>

<style scoped lang="scss">
.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: flex-start;
}

.button-group {
  display: flex;
  gap: 1.25rem;
  margin-top: -1.5rem;
  margin-bottom: 2rem;
  &__add {
    margin-right: auto;
  }
}

.pannel-tip {
  margin-bottom: 2rem;
}

.retailers-list-all {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
</style>
