<template>
  <div class="radio-input">
    <span class="radio-label">{{ label }}</span>
    <slot />
  </div>
</template>

<script setup lang="ts">

interface Props {
  label?: string
}

withDefaults(defineProps<Props>(), {
  label: undefined
})

</script>

<style scoped lang="scss">
.radio-input {
  font-size: 0.875rem;
  font-weight: 600;
  color: $grey500;
}
.radio-label {
  color: $grey400;
  font-weight: 600;
  font-size: 1.25rem;
  display: block;
  margin-bottom: 1rem;
}
</style>
