<template>
  <q-option-group
    v-model="currentInput"
    :options="options"
    type="radio"
    :class="`${optionsDisplay}-group`"
    lazy-rules="ondemand"
    no-error-icon
    @update:model-value="updateModel"
  />
</template>

<script setup lang="ts">
const emit = defineEmits(['update:modelValue'])

interface Props {
  hint?: string
  options: { label: string, value: number | string }[]
  optionsDisplay?: 'row' | 'column'
}

const props = withDefaults(defineProps<Props>(), {
  hint: undefined,
  options: () => [],
  optionsDisplay: 'row'
})

const currentInput = ref(props.options[0])

const updateModel = (value: number | string | null) => {
  emit('update:modelValue', value)
}

</script>

<style scoped lang="scss">
.row-group {
  display: flex;
  flex-direction: row;
}

.col-group {
  display: flex;
  flex-direction: column;
}
</style>
