<template>
  <div class="game-load-definition-page">
    <PageTitle>Load game</PageTitle>
    <Card outlined class="card-stepper-wrapper">
      <GameLoadWizard :current-step="1" />
    </Card>
    <Card>
      <template #header>
        <CardHeading
          title="Game definition"
          subtitle="Define the game parameters and fields required to load inventory and validation data."
        />
      </template>
      <q-form ref="loadGameForm" :greedy="true">
        <div class="cols-wrapper">
          <div class="col-form">
            <div class="form-fields">
              <InputSelectFilter
                v-model="inputs.gameId"
                v-bind="fields.gameId"
                :options="listOfGames"
                :init-value="inputs.gameId"
                autofocus
                data-testid="load-game-define-gameid"
                @update:model-value="fetchGame"
              />
              <InputText
                v-model.number="inputs.numberOfPools"
                v-bind="fields.numberOfPools"
                data-testid="load-game-define-number-pools"
                type="number"
              />
              <InputText
                v-model.number="inputs.numberOfTicketsByPool"
                v-bind="fields.numberOfTicketsByPool"
                data-testid="load-game-define-number-tickets-per-pool"
                type="number"
              />
              <InputText
                v-model.number="inputs.numberOfPacksByCarton"
                v-bind="fields.numberOfPacksByCarton"
                data-testid="load-game-define-number-packs-per-cartoon"
                type="number"
              />
              <InputText
                v-model.number="inputs.numberOfTicketsByPack"
                v-bind="fields.numberOfTicketsByPack"
                data-testid="load-game-define-number-tickets-per-pack"
                type="number"
              />
              <div class="row q-col-gutter-lg">
                <div class="col">
                  <InputText
                    v-model.number="inputs.packWeight"
                    v-bind="fields.packWeight"
                    data-testid="load-game-define-pack-weight"
                    type="number"
                  />
                </div>
                <div class="col">
                  <InputSelect
                    v-model="inputs.packUnitOfWeight"
                    v-bind="fields.packUnitOfWeight"
                    data-testid="load-game-define-unit-weight"
                  />
                </div>
              </div>
              <InputText
                v-model.number="inputs.ticketPrice"
                v-bind="fields.ticketPrice"
                data-testid="load-game-define-ticket-prize"
                type="number"
              />
              <InputText
                v-model.number="inputs.percentageDedicatedToPrizes"
                v-bind="fields.percentageDedicatedToPrizes"
                data-testid="load-game-define-award-probability"
                type="number"
              />
            </div>
          </div>
          <div class="col-info">
            <GameLoadDefinitionSummary
              :game-size="gameSize"
              :prize-fund="prizeFund"
              :odds="odds"
            />
          </div>
        </div>
        <div class="form-actions">
          <ButtonBase
            variant="outlined"
            type="primary"
            data-testid="define-game-save"
            @click="formActions.saveExit"
          >
            Cancel
          </ButtonBase>
          <ButtonBase
            variant="flat"
            type="primary"
            data-testid="define-game-continue"
            class="button-continue"
            @click="formActions.continue"
          >
            Continue
          </ButtonBase>
        </div>
      </q-form>
    </Card>
  </div>
</template>

<script setup lang="ts">
import {
  GAME_DASHBOARD,
  GAME_LOAD_SLUG_PRIZE,
  gameLoadRoute
} from '~/constants/paths/game'
import { validations } from '~/utils/validations'
import { loadGameDefinition } from '~/models/game'
import { gameService } from '~/api/services'

const router = useRouter()

const listOfGames = ref([])

const gameToFetch = inject<any>('gameToFetch')

const inputs = ref<any>({
  gameId: undefined,
  numberOfPools: undefined,
  numberOfTicketsByPool: undefined,
  numberOfPacksByCarton: undefined,
  numberOfTicketsByPack: undefined,
  packWeight: undefined,
  packUnitOfWeight: undefined,
  ticketPrice: undefined,
  percentageDedicatedToPrizes: undefined
})

onBeforeMount(async () => {
  const res = await gameService.games.getAll({ status: ['CREATED'] })
  if (res.data.value) {
    setInitialData(res.data.value)
  }
})

const setInitialData = (data: { gameId: string; lotteryNumber: string; name: string }[]) => {
  const listOfFetchedGames = data.map((el: { gameId: string; lotteryNumber: string; name: string; }) => {
    return {
      label: el.lotteryNumber + ' - ' + el.name,
      value: el.gameId
    }
  })
  listOfGames.value = listOfFetchedGames
  if (gameToFetch) {
    inputs.value.gameId = gameToFetch
    fetchGame()
  }
}

const gameSize = computed((): number | undefined => {
  const numberOfPools = inputs.value.numberOfPools && parseInt(inputs.value.numberOfPools)
  const numberOfTicketsByPool = inputs.value.numberOfTicketsByPool && parseInt(inputs.value.numberOfTicketsByPool)
  if (!!numberOfPools && !!numberOfTicketsByPool) {
    const result = numberOfPools * numberOfTicketsByPool
    return result
  }
  return undefined
})

const prizeFund = computed(() => {
  const numberOfPools = inputs.value.numberOfPools && parseInt(inputs.value.numberOfPools)
  const numberOfTicketsByPool = inputs.value.numberOfTicketsByPool && parseInt(inputs.value.numberOfTicketsByPool)
  const percentageDedicatedToPrizes = Number(inputs.value.percentageDedicatedToPrizes)
  const ticketPrice = Number(inputs.value.ticketPrice)
  if (!!numberOfPools && !!numberOfTicketsByPool) {
    const result = numberOfPools * numberOfTicketsByPool * percentageDedicatedToPrizes * ticketPrice / 100
    return result ? Math.ceil(result * 100) / 100 : undefined
  }
  return undefined
})

const odds = computed(() => {
  const percentageDedicatedToPrizes = Number(inputs.value.percentageDedicatedToPrizes)
  if (percentageDedicatedToPrizes !== 0) {
    const result = 100 / percentageDedicatedToPrizes
    return result ? '1:' + Math.ceil(result * 100) / 100 : ''
  }
  return ''
})

const fields = {
  gameId: {
    label: 'Select a created game',
    placeholder: 'Select a game',
    rules: [
      (input: string) => {
        return (
          validations.isNotEmpty(input)) ||
          'You must select a game to load and continue'
      }
    ]
  },
  numberOfPools: {
    label: 'Number of pools',
    placeholder: 'Enter the number of pools',
    rules: [
      (input: number) => {
        return (
          (validations.isNotEmpty(input)) &&
          validations.types.isInteger(input) &&
          validations.compare.isNumberInRange(input, [1, 20])) ||
          'Game must exist in at least 1 pool and max 20 pools'
      }
    ]
  },
  numberOfTicketsByPool: {
    label: 'Number of Tickets in each Pool',
    placeholder: 'Enter a number higher than 100K',
    rules: [
      (input: number) => {
        return (
          validations.isNotEmpty(input)) ||
          'Enter a number of tickets'
      },
      (input: number) => {
        return (
          (validations.types.isInteger(input) &&
          validations.compare.isNumberInRange(input, [100000, 10000000]))) ||
          'Tickets must exist in at least one pool. Must be a number between 100K and 10M'
      }
    ]
  },
  numberOfPacksByCarton: {
    label: 'Number of packs per carton',
    placeholder: 'Number of packs per carton',
    rules: [
      (input: number) => {
        return (
          (validations.isNotEmpty(input)) &&
          validations.types.isInteger(input) &&
          validations.compare.isNumberInRange(input, [20, 100])) ||
          'Enter a valid number between 20 and 100'
      }
    ]
  },
  numberOfTicketsByPack: {
    label: 'Number of Tickets in each pack',
    placeholder: 'Enter a number of tickets per pack for transportation',
    rules: [
      (input: number) => {
        return (
          (validations.isNotEmpty(input)) &&
          validations.types.isInteger(input) &&
          validations.compare.isNumberInRange(input, [20, 200])) ||
          'Enter a valid number between 20 and 200'
      },
      (input: number) => {
        return (
          (gameSize.value && gameSize.value % input === 0) ||
          'There must be a direct relation of game size and number of tickets by pack'
        )
      }
    ]
  },
  packWeight: {
    label: 'Pack weight',
    placeholder: 'Enter pack weight',
    rules: [
      (input: number) => {
        return (
          (validations.isNotEmpty(input)) &&
          validations.types.isNumber(input) &&
          validations.compare.isNumberInRange(input, [0.1, 2])) ||
          'Enter a pack weight. Max value allowed 2'
      }
    ]
  },
  packUnitOfWeight: {
    label: 'Unit of weight',
    placeholder: 'Select unit',
    options: [
      { label: 'Kg', value: 'KG' },
      { label: 'Lb', value: 'LB' }
    ],
    rules: [
      (input: 'KG' | 'LB') => {
        return (
          validations.isNotEmpty(input)) ||
          'Select an unit of weight'
      }
    ]
  },
  ticketPrice: {
    label: 'Price of the Ticket',
    placeholder: 'Enter a price for each ticket',
    prependIcon: 'euro',
    rules: [
      (input: number) => {
        return (
          (validations.isNotEmpty(input)) &&
          validations.types.isNumber(input) &&
          validations.compare.isNumberInRange(input, [1, 100])) ||
          'Enter a valid price between 1€ and 100€'
      }
    ]
  },
  percentageDedicatedToPrizes: {
    label: 'Percentage destined to prizes',
    placeholder: 'Enter a percentage',
    prependIcon: 'percent',
    rules: [
      (input: number) => {
        return (
          (validations.isNotEmpty(input)) &&
          validations.types.isNumber(input) &&
          validations.compare.isNumberInRange(input, [30, 90])) ||
          'Enter a valid probability between 30% and 90%'
      }
    ]
  }
}

const loadGameForm = ref<any>(null)

const validate = () => loadGameForm.value.validate()

const fetchGame = async () => {
  const gameId = inputs.value.gameId
  if (gameId !== undefined) {
    const res = await gameService.definition.get(gameId)
    if (!res.error.value && res.data.value) {
      inputs.value = res.data.value
    } else {
      resetFormInputs(gameId)
    }
  }
}

const resetFormInputs = (gameId: string) => {
  inputs.value = {
    gameId,
    numberOfPools: undefined,
    numberOfTicketsByPool: undefined,
    numberOfPacksByCarton: undefined,
    numberOfTicketsByPack: undefined,
    packWeight: undefined,
    packUnitOfWeight: undefined,
    ticketPrice: undefined,
    percentageDedicatedToPrizes: undefined
  }
}

const submitData = async () => {
  const { gameId, ...curentInputs } = inputs.value

  const params: loadGameDefinition = {
    ...curentInputs,
    gameSize: gameSize.value,
    prizeFund: prizeFund.value,
    odds: odds.value
  }
  if (gameId) {
    const res = await gameService.definition.put(gameId, params)
    return res
  }
}

const formActions = {
  saveExit: () => {
    router.push(GAME_DASHBOARD)
  },
  continue: async () => {
    const isFormValid = await validate()
    if (isFormValid) {
      const res = await submitData()
      const { error } = res
      if (error.value) {
        alert(error.value.data.message)
      } else {
        router.push({
          path: gameLoadRoute({ route: GAME_LOAD_SLUG_PRIZE, id: inputs.value.gameId }),
          params: { gameId: inputs.value.gameId }
        })
      }
    }
  }
}

</script>

<style lang="scss" scoped>
.cols-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2.5rem;
}
.col-form {
  flex: 1 0 auto;
}
.col-info {
  display: flex;
  flex-direction: column;
  width: 400px;
}
.form-container {
  padding: 2rem 1.6rem;
}

.form-fields {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form-actions {
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 1px solid $grey100;
  display: flex;
  gap: 1.5rem;
}

.card-stepper-wrapper {
  padding: 0;
  margin-bottom: 1rem;
  border: 1px solid $grey200;
}

</style>
