<template>
  <q-input
    ref="inputRef"
    v-model="currentInput"
    outlined
    :label-slot="true"
    :stack-label="true"
    :hint="hint"
    :rules="rules"
    lazy-rules="ondemand"
    no-error-icon
    class="input-field"
    :class="{'input-field__unlabeled': !label, 'input-field__rounded' : variant === 'rounded'}"
    @update:model-value="updateModel"
  >
    <template #label>
      <span class="custom-input-label">{{ label }}</span>
    </template>
    <template v-if="prependIcon" #prepend>
      <q-icon :name="prependIcon" class="input-field__prepend-icon" />
    </template>
  </q-input>
</template>

<script setup lang="ts">
import { ValidationRule } from 'quasar/dist/types/api/validation'

const emit = defineEmits(['update:modelValue'])

interface Props {
  variant?: 'rounded' | 'squared'
  label?: string
  hint?: string
  rules?: ValidationRule[]
  valueToUpperCase?: boolean
  prependIcon?: string
}

const props = withDefaults(defineProps<Props>(), {
  variant: 'squared',
  label: undefined,
  hint: undefined,
  rules: undefined,
  valueToUpperCase: false,
  prependIcon: undefined
})

const inputRef = ref<any>(null)

const currentInput = ref()

const resetValidation = () => {
  inputRef.value && inputRef.value.resetValidation()
}

const updateModel = (value: number | string | null) => {
  if (typeof value === 'string') {
    const res = props.valueToUpperCase ? value.toUpperCase() : value
    emit('update:modelValue', res)
  } else {
    emit('update:modelValue', value)
  }
  resetValidation()
}

</script>

<style lang="scss">
.q-field--error{
  color: $error;
}

.custom-input-label {
  background-color: $white;
  display: inline-block;
  color: $grey400;
}

.q-field {
  &.q-field--disabled {
    padding-bottom: 20px;
  }
  &.q-field--labeled {
    .q-field__label {
      text-overflow: initial;
      top: 2px;
      padding: 0.375rem;
      background: white;
      z-index: 1;
    }
    .q-field__native {
      padding-top: 1.125rem;
      padding-bottom: 0.875rem;
      padding-left: 0.25rem;
    }
    .q-field__prefix {
      padding-top: 1rem;
      padding-bottom: 0.875rem;
      font-size: 1.25rem;
      line-height: 0;
    }
    &.input-field__unlabeled {
      .q-field__label {
        display: none;
      }
    }
  }
  &.q-field--error .custom-input-label {
    color: inherit;
  }

  &.q-field--outlined {
    .q-field__control:before {
      border-color: $grey400;
    }
    &.q-field--readonly .q-field__control:before {
      border-style: solid;
    }
    &.input-field__rounded .q-field__control {
      border-radius: 2rem;
    }
  }
  &.q-field--disabled {
    &.q-field--outlined {
      .q-field__control:before {
        border-color: $grey200;
      }
    }
    .q-field__control > div {
      opacity: 1 !important;
      color: $grey200;
    }
    .custom-input-label,
    .q-field__native {
      color: $grey200;
    }
  }
  .input-field__prepend-icon {
    color: $grey400;
  }
}
.input-field {
  .q-field__before, .q-field__prepend {
    padding-right: 0.25rem;
    + .q-field__control-container {
      .q-field__label {
        left: -1.75rem;
      }
    }
  }
}
</style>
