<template>
  <q-uploader
    ref="inputFile"
    flat
    class="input-file"
    color="white"
    accept=".csv"
    batch
    send-raw
    @added="(file) => addFile(file)"
    @removed="() => removeFile()"
  >
    <template #header="scope">
      <div class="drop-area__content">
        <span class="drop-area__content-title">{{ label }}</span>
        <q-icon name="upload" class="drop-area__content-icon" />
        <div
          class="drop-area__content-indications"
          :class="{ 'drop-area__content-indications--disable': scope.files.length}"
        >
          <span>Drag and drop here</span>
          <span class="drop-area__content-indications-separator">or</span>
          <span class="drop-area__content-indications-link">Browse files</span>
          <q-uploader-add-trigger v-if="!scope.files.length" />
        </div>
      </div>
    </template>
    <template #list="scope">
      <div class="file-preview">
        <q-list v-if="scope.files.length" class="file-preview__list">
          <q-item v-for="file in scope.files" :key="file.__key">
            <q-item-section class="file-preview__item">
              <q-item-label
                caption
                class="file-preview__status"
                :class="'file-preview__status--' + file.__status"
              >
                <q-icon v-if="file.__status === 'idle'" name="upload" />
                <q-icon v-if="file.__status === 'failed'" name="close" />
                <q-icon v-if="file.__status === 'success'" name="done" />
                <SpinnerBars v-if="file.__status === 'uploading'" name="pending" :size="1" />
              </q-item-label>
              <q-item-label class="file-preview__name">
                {{ file.name }}
              </q-item-label>
              <q-btn
                class="file-preview__delete"
                size="12px"
                flat
                dense
                icon="delete_forever"
                @click="scope.removeFile(file)"
              />
            </q-item-section>
          </q-item>
        </q-list>
      </div>
    </template>
  </q-uploader>
</template>

<script setup lang="ts">
interface Props {
  label?: string
}

withDefaults(defineProps<Props>(), {
  label: 'Upload files'
})

const emit = defineEmits<{
  'addFile': [file: Object],
  'removeFile': []
}>()

const addFile = (file: Object) => {
  emit('addFile', file)
}

const removeFile = () => {
  emit('removeFile')
}

</script>

<style scoped lang="scss">
.input-file {
  border: 1px dashed $blue500;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.drop-area__content {
  padding: 1rem 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  align-items: center;
}
.drop-area__content-title {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.4;
  color: $grey500;
}
.drop-area__content-icon {
  font-size: 2rem;
  color: $grey400;
}
.drop-area__content-indications {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.125rem;
  color: $grey400;
}

.drop-area__content-indications--disable {
  opacity: 0.5;
  .drop-area__content-indications-link {
    cursor: initial;
  }
}
.drop-area__content-indications-separator {
  font-size: 0.875rem;
}
.drop-area__content-indications-link {
  color: $blue500;
  padding: 0.5rem;
  font-weight: 600;
  cursor: pointer;
}
.file-preview {
  display: flex;
  flex-direction: column;
}
.file-preview__list {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    left: 2.5rem;
    right: 2.5rem;
    height: 1px;
    background-color: $grey100;
    top: 0;
  }
}
.file-preview__item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.file-preview__name {
  margin-right: auto;
  text-decoration: none;
  color: $grey400;
  font-size: 0.875rem;
}
.file-preview__delete {
  padding: auto;
  font-size: 1.25rem;
}
.file-preview__status {
  width: 1rem;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 0.75rem;
  margin-right: 1rem;
  &--idle {
    border: 1px solid $grey400;
    color: $grey400;
  }
  &--failed {
    color: $error;
    font-size: 1rem;
  }
  &--uploading {
    color: $grey400
  }
  &--success {
    background-color: $success;
    color: $white;
  }
}

.file-preview__upload {
  margin: 0.625rem auto 0;
}
</style>

<style lang="scss">
.input-file {
  &.q-uploader {
    max-height: initial;
  }
  .q-uploader__list {
    padding: 0;
    min-height: initial;
  }
  .q-uploader__dnd.absolute-full {
    z-index: -1;
  }
}
</style>
