<template>
  <q-input
    ref="inputRef"
    v-model="currentInput"
    outlined
    :label="label"
    :stack-label="true"
    :rules="rules"
    lazy-rules="ondemand"
    class="input-text-field input-datepicker-field"
    :hint="hint"
    no-error-icon
    readonly
  >
    <template #append>
      <q-icon name="event" class="cursor-pointer">
        <q-popup-proxy
          cover
          transition-show="scale"
          transition-hide="scale"
          class="input-date-picker"
          @before-show="updateProxy"
        >
          <q-date
            v-model="proxyDate"
            :today-btn="true"
            minimal
            mask="DD/MM/YYYY"
            :options="options"
            :range="isRange"
            first-day-of-week="1"
          >
            <div class="buttons-wrapper">
              <ButtonBase
                v-close-popup
                variant="empty"
                type="primary"
                data-testid="create-game-cancel"
              >
                Cancel
              </ButtonBase>
              <ButtonBase
                v-close-popup
                :disabled="!proxyDate"
                variant="flat"
                type="primary"
                data-testid="load-game-gltp-continue"
                class="button-continue"
                @click="save"
              >
                Done
              </ButtonBase>
            </div>
          </q-date>
        </q-popup-proxy>
      </q-icon>
    </template>
    <template v-if="isRange && currentInput" #prepend>
      <span v-if="!!currentInput.from" class="custom-input-date-range">{{ currentInput?.from }} - {{ currentInput?.to }}</span>
      <span v-else class="custom-input-date-range__placeholder">{{ rangePlaceholder }}</span>
    </template>
    <template #label>
      <span class="custom-input-label">{{ label }}</span>
    </template>
  </q-input>
</template>

<script setup lang="ts">
import { ValidationRule } from 'quasar/dist/types/api/validation'

const emit = defineEmits(['update:modelValue'])

interface Props {
  label?: string
  hint?: string
  rules?: ValidationRule[]
  options?: any
  isRange?: boolean
  initValue?: any
  rangePlaceholder?: string
}

const props = withDefaults(defineProps<Props>(), {
  label: undefined,
  hint: undefined,
  rules: undefined,
  options: () => [],
  isRange: false,
  initValue: undefined,
  rangePlaceholder: undefined
})

const currentInput = ref()
const proxyDate = ref()

watch(
  () => props.initValue,
  (data) => {
    currentInput.value = data
    proxyDate.value = data
  }
)

const inputRef = ref<any>(null)

const resetValidation = () => {
  inputRef.value && inputRef.value.resetValidation()
}

const updateProxy = () => {
  proxyDate.value = currentInput.value
}

const save = () => {
  currentInput.value = proxyDate.value
  emit('update:modelValue', proxyDate.value)
  resetValidation()
}

</script>

<style scoped lang="scss">
.custom-label {
  background-color: $white;
  display: inline-block;
  color: $grey400;
}

.buttons-wrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
}

</style>

<style lang="scss">
.input-date-picker {
  width: 450px !important;
  .q-date {
    width: 450px;
    background-color: $grey100;
  }
  .q-date__view {
    padding: 1rem 4rem;
    border-bottom: 1px solid $grey200;
  }
  .q-date__content .q-btn, .q-date__calendar-item {
    font-size: 1rem;
  }
  .q-date__actions {
    padding: 1rem 4rem;
  }
  .q-date__view {
    min-height: auto;
  }
  .q-date__calendar-item > div, .q-date__calendar-item button {
    width: 40px;
    height: 40px;
  }
  .bg-primary {
    background-color: $blue500 !important;
  }
  .q-date__navigation {
    padding-bottom: 1rem;
  }
  .q-date__calendar-weekdays > div {
    opacity: 1;
  }
  .q-date__calendar-weekdays .q-date__calendar-item > div {
    font-size: 0;
    &::first-letter {
      font-size: 16px;
    }
  }
  .q-date__navigation .q-btn {
    font-size: 0.875rem;
  }
}

.input-datepicker-field {
  .q-field__prepend {
    position: absolute;
    background: white;
    z-index: 1;
    height: 30px;
    top: 14px;
    font-size: 14px;
    left: 16px;
    color: $grey400;
  }
}

.custom-input-date-range__placeholder {
  color: $grey300;
}
</style>
