<template>
  <q-select
    ref="inputRef"
    v-model="currentInput"
    outlined
    use-input
    input-debounce="0"
    :options="selectableOptions"
    :label="label"
    :stack-label="true"
    lazy-rules="ondemand"
    map-options
    emit-value
    no-error-icon
    dropdown-icon="expand_more"
    @update:model-value="resetValidation"
    @filter="filterFn"
    @focus="focusFn"
    @blur="focusOutFn"
    @new-value="createValue"
  >
    <template v-if="!currentInput && showPlaceholder" #selected>
      <span class="placeholder">{{ placeholder }}</span>
    </template>
    <template #label>
      <span class="custom-input-label">{{ label }}</span>
    </template>
    <template #no-option="{inputValue}">
      <q-item v-if="!allowCreateItem">
        <q-item-section class="text-grey">
          No results
        </q-item-section>
      </q-item>
      <q-item v-if="allowCreateItem && inputValue">
        <q-item-section class="text-grey create-input-value">
          Enter to create <span class="text-bold input-value">"{{ inputValue }}"</span> pattern
        </q-item-section>
      </q-item>
    </template>
  </q-select>
</template>

<script setup lang="ts">
interface Option {
  label: string,
  value: string | number
}

interface Props {
  label?: string
  hint?: string
  placeholder?: string
  options: Option[]
  initValue?: string
  allowCreateItem?: boolean
}

const props = withDefaults(defineProps<Props>(), {
  label: undefined,
  hint: undefined,
  placeholder: undefined,
  options: () => [],
  initValue: undefined,
  allowCreateItem: false
})

const emit = defineEmits<{
  'createOption': [option: { label: string, value: string | number}]
}>()

watch(
  () => props.initValue,
  (data) => {
    currentInput.value = data
  }
)

const currentInput = ref<any>()
const showPlaceholder = ref<boolean>(true)

const inputRef = ref<any>(null)

const resetValidation = () => {
  inputRef.value && inputRef.value.resetValidation()
}

const selectableOptions = ref(props.options)

const filterFn = (val: string, update: (arg0: { (): void; (): void; }) => void) => {
  if (val === '') {
    update(() => {
      selectableOptions.value = props.options
    })
    return
  }

  update(() => {
    const needle:string = val.toString().toLowerCase()
    selectableOptions.value = props.options.filter(v => v.label.toString().toLowerCase().includes(needle))
  })
}

const focusFn = () => {
  showPlaceholder.value = false
}

const focusOutFn = () => {
  showPlaceholder.value = true
}

const createValue = (val: string, done: (arg0: string, arg1: string) => void) => {
  done(val, 'add-unique')
  emit('createOption', { label: val, value: val })
}

</script>

<style lang="scss" scoped>
.placeholder {
  color: $grey300;
}

.create-new-element {
  cursor: pointer;
  padding: 0.5rem 0;
}

.create-new-element__content {
  display: flex;
  align-items: center;
  font-weight: 400;
  color: $grey400;
}

.create-new-element__icon {
  color: $blue500;
  font-size: 1.5rem;
  margin-bottom: 2px;
  margin-right: 0.25rem;
}

.create-input-value {
  display: block;
}

.input-value {
  color: $grey500;
}
</style>
