<template>
  <q-select
    ref="inputRef"
    v-model="currentInput"
    outlined
    :options="options"
    :label="label"
    :stack-label="true"
    :hint="hint"
    lazy-rules="ondemand"
    map-options
    emit-value
    no-error-icon
    :use-chips="allowMultiple"
    :multiple="allowMultiple"
    dropdown-icon="expand_more"
    :class="{'input-field__unlabeled': !label}"
    @update:model-value="updateModel"
  >
    <template #label>
      <span class="custom-input-label">{{ label }}</span>
    </template>
  </q-select>
</template>

<script setup lang="ts">
const emit = defineEmits(['update:modelValue'])

interface Option {
  label: string,
  value: string | number
}

interface Props {
  label?: string
  hint?: string
  placeholder?: string
  options: Option[]
  allowMultiple?: boolean
}

withDefaults(defineProps<Props>(), {
  label: undefined,
  hint: undefined,
  placeholder: undefined,
  allowMultiple: false,
  options: () => []
})

const currentInput = ref<any>()

const inputRef = ref<any>(null)

const updateModel = (value: number | string | null) => {
  emit('update:modelValue', value)
  resetValidation()
}

const resetValidation = () => {
  inputRef.value && inputRef.value.resetValidation()
}
</script>

<script lang="ts">
export interface InputSelectOption {
  label: string
  value: number | string
}
</script>

<style lang="scss">
.placeholder {
  color: $grey300;
}

.q-field--auto-height.q-field--labeled .q-field__control-container {
  padding-top: 0 !important;
}

.q-chip {
  margin: 0;
  margin-right: 0.25rem;
  border-radius: 0.25rem;
  margin-top: -0.125rem;
  background-color: $grey100;
  border: 1px solid $grey200;
  display: flex;
  align-items: center;
  justify-content: center;
  .q-chip__content {
    margin-top: 1px;
  }
  .q-chip__icon--remove {
    margin-top: -2px;
  }
}

</style>
