<template>
  <q-table
    :rows="listOfRetailersFiltered"
    :columns="columns"
    row-key="retailers-list"
    flat
    class="retailers-list-all-table"
    :rows-per-page-options="[10, 20, 50]"
    :rows-per-page-label="'Rows per page'"
  >
    <template #no-data>
      <div class="no-data">
        <template v-if="listOfRetailersIsPending">
          <spinner-bars />
        </template>
        <template v-else>
          <q-icon class="no-data-icon" name="list" />
          <span class="no-data-placeholder">
            No retailers found
          </span>
        </template>
      </div>
    </template>
    <template #body-cell-hasMissingInfo="props">
      <q-td :props="props" class="retailers-list__missing-cell">
        <q-icon
          v-if="props.row.hasMissingInfo"
          name="priority_high"
          class="retailers-list__missing-icon"
        />
      </q-td>
    </template>
    <template #body-cell-status="{row, col}">
      <q-td :class="col.align ? `text-${col.align}` : 'text-left'">
        <span :class="getStatusClass(row.status)" class="cell-h">{{ row.status }}</span>
      </q-td>
    </template>
    <template #body-cell-edit="props">
      <q-td :props="props">
        <q-btn
          dense
          flat
          color="grey"
          icon="edit"
          title="edit retailer"
          class="retailers-list__action-icon"
          @click="editRetailerDetails(props.row)"
        />
      </q-td>
    </template>
  </q-table>
</template>

<script setup lang="ts">

import { retailerService } from '~/api/services/retailers'
import { editRetailer, RETAILER_DETAIL_SLUG_MASTER_DATA } from '~/constants/paths'

const router = useRouter()

const listOfRetailers = ref([])
const listOfRetailersFiltered = ref<any>([])

const filters = inject<any>('retailerFilters')

const listOfRetailersIsPending = ref(true)

onBeforeMount(async () => {
  const retailerFilters = filters.value.retailerStatus
  const res = await retailerService.retailers.getAll({ status: retailerFilters })
  if (res.data.value) {
    setInitialData(res.data.value)
  }
})

const retrieveAllRetailers = async () => {
  const retailerFilters = filters.value.retailerStatus
  const res = await retailerService.retailers.getAll({ status: retailerFilters })
  if (res.data.value) {
    setInitialData(res.data.value)
  }
}

const setInitialData = (data:any) => {
  listOfRetailersIsPending.value = false
  listOfRetailers.value = data
  listOfRetailersFiltered.value = filterRetailers()
}

const filterRetailers = () => {
  if (!listOfRetailers.value) { return [] }
  const searchByName = listOfRetailers.value.filter((el: { retailerName: string }) => (el.retailerName?.toLowerCase()).includes(filters.value.retailerName.toLowerCase()))
  return sortArrayOfObjects(searchByName, 'retailerName').reverse()
}

watch(
  () => filters.value.retailerName,
  () => {
    listOfRetailersFiltered.value = filterRetailers()
  }
)

watch(
  () => filters.value.retailerStatus,
  () => {
    retrieveAllRetailers()
  }
)

const columns = [
  {
    name: 'hasMissingInfo',
    required: true,
    align: 'center',
    label: '',
    field: 'hasMissingInfo',
    classes: 'column-missing'
  },
  {
    name: 'retailerName',
    required: true,
    align: 'left',
    label: 'Name',
    field: 'retailerName',
    sortable: true
  },
  {
    name: 'retailerId',
    required: true,
    label: 'ID',
    align: 'left',
    field: 'retailerId'
  },
  {
    name: 'address',
    required: true,
    label: 'Address',
    align: 'left',
    field: 'address'
  },
  {
    name: 'retailerNumber',
    required: true,
    label: 'Retailer No.',
    field: 'retailerNumber',
    align: 'left'
  },
  {
    name: 'area',
    required: true,
    label: 'Area',
    field: 'area',
    align: 'left',
    sortable: true
  },
  {
    name: 'courier',
    required: true,
    label: 'Courier',
    field: 'courier',
    align: 'left',
    sortable: true
  },
  {
    name: 'telSales',
    required: true,
    label: 'TelSales',
    field: 'telSales',
    align: 'left',
    sortable: true
  },
  {
    name: 'status',
    required: true,
    label: 'Status',
    field: 'status',
    align: 'center',
    sortable: true
  },
  {
    name: 'edit',
    label: 'Edit',
    field: 'edit',
    align: 'center',
    classes: 'column-action'
  }
]

const editRetailerDetails = ({ retailerId }: any) => {
  if (retailerId) {
    router.push({
      path: editRetailer({ id: retailerId, route: RETAILER_DETAIL_SLUG_MASTER_DATA }),
      params: retailerId
    })
  }
}

const getStatusClass = (item: 'ACTIVE' | 'DEACTIVATED') => {
  switch (item) {
    case 'ACTIVE':
      return 'cell-h-active'
    case 'DEACTIVATED':
      return 'cell-h-deactivated'
  }
}
</script>

<style lang="scss" scoped>
.retailers-list__missing-icon {
  font-size: 0.875rem;
  padding: 0.25rem;
  background-color: $yellow500;
  border-radius: 50%;
  color: $grey400;
}
.retailers-list__missing-cell {
  padding-right: 0;
}
</style>

<style lang="scss">
.retailers-list-all-table {
  overflow-y: hidden;
  border-radius: 0.5rem;
  border: 1px solid $grey200;
  thead {
    th {
      background-color: $grey100;
      color: $grey500;
      font-weight: 500;
      font-size: 0.875rem;
    }
  }
  tbody {
    td {
      font-size: 0.875rem;
      color: $grey400;
    }
  }
  .no-data {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    padding: 1.125rem;
  }
  .no-data-icon {
    font-size: 2.75rem;
    color: $blue500;
    background-color: $disable-info;
    border-radius: 50%;
    width: 4.5rem;
    height: 4.5rem;
  }
  .no-data-placeholder {
    font-size: 0.875rem;
    color: $grey300;
    font-weight: 600;
  }
  .icon-action {
    font-size: 0.75rem;
  }
  .column-action {
    width: 5rem;
  }
  .retailers-list__action-icon {
    i {
      color: $grey400;
    }
    &.disabled {
      i {
        color: $grey200;
      }
    }
  }
  .column-missing {
    width: 2rem;
  }
  .retailers-list__action-icon {
    i {
      color: $grey400;
    }
    &.disabled {
      i {
        color: $grey200;
      }
    }
  }
  .cell-h {
    text-transform: lowercase;
    display: inline-block;
    &::first-letter {
      text-transform: capitalize;
    }
  }
  .cell-h-active {
    padding: 0.125rem 0.5rem;
    border-radius: 4px;
    background-color: $green300;
    color: $white;
    font-size: 0.875rem;
    min-width: 6rem;
  }

  .cell-h-deactivated {
    padding: 0.125rem 0.5rem;
    border-radius: 4px;
    background-color: $blue300;
    color: $white;
    font-size: 0.875rem;
    min-width: 6rem;
  }
}
</style>
