<template>
  <div class="retailer-filters">
    <InputText
      v-model="retailerFilters.retailerName"
      data-testid="retailer-name-filter-dashboard"
      variant="rounded"
      v-bind="fields.retailerName"
      class="retailer-filters__searchbar"
    />
    <div class="retailer-filters__selector">
      <div class="retailer-filters__selector-title">
        <q-icon name="filter_list" class="retailer-filters__selector-icon" />
        <span>Filter by:</span>
      </div>
      <InputSelect
        v-model="retailerFilters.retailerStatus"
        v-bind="fields.retailerStatus"
        class="retailer-filters__selector-dropdown"
        dense
      />
    </div>
  </div>
</template>

<script lang="ts" setup>
const retailerFilters = inject<any>('retailerFilters')

const fields = {
  retailerName: {
    label: '',
    prependIcon: 'search',
    placeholder: 'Search a retailer by name',
    rules: []
  },
  retailerStatus: {
    label: '',
    placeholder: 'Status',
    options: [
      { label: 'All', value: 'ALL' },
      { label: 'Active', value: 'ACTIVE' },
      { label: 'Deactivated', value: 'DEACTIVATED' }
    ],
    rules: []
  }
}
</script>

<style lang="scss" scoped>
.retailer-filters {
  display: flex;
  gap: 2rem;
  width: 100%;
  align-items: center;
}

.retailer-filters__searchbar {
  flex: 1 0 auto;
}

.retailer-filters__selector {
  flex: 1 1;
  height: 4rem;
  background-color: $blue100;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.5rem;
  padding: 0.75rem 2rem;
  border-radius: 0.5rem;
}

.retailer-filters__selector-title {
  display: flex;
  gap: 0.5rem;
  color: $grey400;
  align-items: center;
}

.retailer-filters__selector-icon {
  color: $blue500;
  font-size: 1.5rem;
}

.retailer-filters__selector-dropdown {
  flex: auto;
  background-color: $white;
  :deep(.q-field__native) {
    padding-top: 0.625rem !important;
    padding-bottom: 0.5rem !important;
  }
}
</style>
