<template>
  <div class="game-reports-page">
    <PageTitle>Reports</PageTitle>
    <Card>
      <template #header>
        <CardHeading
          title="Reports panel"
          subtitle="Check the reports for the existing games at a glance"
        />
      </template>
      <div class="reports">
        <div class="report-results">
          <div class="game-report__section-content">
            <CardHeadingSection title="Game sales" />
            <ReportGameSales />
          </div>
          <div class="game-report__section-content">
            <CardHeadingSection title="Closed games" />
            <ReportClosedGames />
          </div>
        </div>
      </div>
    </Card>
  </div>
</template>

<script setup lang="ts">

</script>

<style scoped lang="scss">
.report-results {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 1.5rem;
}
.game-report {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}
.game-report__section {
  padding: 0;
  border: 2px solid $grey200;
}
.game-report__section-title {
  margin: 0;
  height: 4rem;
  display: flex;
  align-items: center;
  padding: 0 2.5rem;
}
.game-report__section-content {
  width: 100%;
}
</style>
