<template>
  <q-table
    :rows="listOfClosedGamesReportByName"
    :columns="columns"
    row-key="game-sales-report"
    flat
    class="game-list-all-table"
    :rows-per-page-options="[10, 20, 50]"
    :rows-per-page-label="'Rows per page'"
  >
    <template #no-data>
      <div class="no-data">
        <template v-if="listOfGamesIsPending">
          <spinner-bars />
        </template>
        <template v-else>
          <q-icon class="no-data-icon" name="list" />
          <span class="no-data-placeholder">
            No closed games found
          </span>
        </template>
      </div>
    </template>
  </q-table>
</template>

<script setup lang="ts">
import { gameService } from '~/api/services'

const listOfClosedGamesReport = ref([])
const listOfClosedGamesReportByName = ref([])
const listOfGamesIsPending = ref(true)

onBeforeMount(() => {
  retrieveClosedGamesReport()
})

const columns = [
  {
    name: 'lotteryNumber',
    align: 'left',
    label: 'Game ID',
    field: 'lotteryNumber',
    sortable: true
  },
  {
    name: 'gameName',
    required: true,
    label: 'Game name',
    align: 'left',
    field: 'gameName',
    sortable: true
  },
  {
    name: 'startedAt',
    label: 'Date started',
    field: 'startedAt',
    align: 'right',
    format: (value:string) => date.parseISOtoDDMMYYYY(value),
    sortable: true
  },
  {
    name: 'closedAt',
    label: 'Date closed',
    align: 'right',
    field: 'closedAt',
    format: (value:string) => date.parseISOtoDDMMYYYY(value),
    sortable: true
  },
  {
    name: 'daysActive',
    label: 'Days active',
    align: 'right',
    field: 'daysActive',
    format: (value:number) => toLocaleNumber(value),
    sortable: true
  },
  {
    name: 'percentageInPrizesEstimated',
    label: '% in prizes (Theorical)',
    align: 'right',
    field: 'percentageInPrizesEstimated',
    format: (value:number) => toLocaleNumber(value) + ' %',
    sortable: true
  },
  {
    name: 'percentageInPrizesPaid',
    label: '% in prizes (Paid)',
    align: 'right',
    field: 'percentageInPrizesPaid',
    format: (value:number) => toLocaleNumber(value) + ' %',
    sortable: true
  },
  {
    name: 'soldTickets',
    label: 'Sold tickets',
    align: 'right',
    field: 'soldTickets',
    format: (value:number) => toLocaleNumber(value),
    sortable: true
  },
  {
    name: 'nonSoldTickets',
    label: 'Non-sold Tickets',
    align: 'right',
    field: 'nonSoldTickets',
    format: (value:number) => toLocaleNumber(value),
    sortable: true
  }
]

const retrieveClosedGamesReport = async () => {
  const res = await gameService.reports.closedGames.get()
  if (res.data.value) {
    setInitialData(res.data.value)
  }
}

const setInitialData = (data) => {
  listOfGamesIsPending.value = false
  listOfClosedGamesReport.value = data
  listOfClosedGamesReportByName.value = listOfClosedGamesReport.value ? sortArrayOfObjects(listOfClosedGamesReport.value, 'closedAt').reverse() : []
}
</script>
