<template>
  <q-table
    :rows="listOfGameSalesReportByName"
    :columns="columns"
    row-key="game-sales-report"
    flat
    class="game-list-all-table"
    :rows-per-page-options="[10, 20, 50]"
    :rows-per-page-label="'Rows per page'"
  >
    <template #no-data>
      <div class="no-data">
        <template v-if="listOfGamesIsPending">
          <spinner-bars />
        </template>
        <template v-else>
          <q-icon class="no-data-icon" name="list" />
          <span class="no-data-placeholder">
            No games found
          </span>
        </template>
      </div>
    </template>
  </q-table>
</template>

<script setup lang="ts">
import { gameService } from '~/api/services'

const listOfGameSalesReport = ref([])
const listOfGameSalesReportByName = ref([])
const listOfGamesIsPending = ref(true)

onBeforeMount(() => {
  retrieveGameSalesReport()
})

const columns = [
  {
    name: 'lotteryNumber',
    align: 'left',
    label: 'Game ID',
    field: 'lotteryNumber',
    sortable: true
  },
  {
    name: 'gameName',
    required: true,
    label: 'Game name',
    align: 'left',
    field: 'gameName',
    sortable: true
  },
  {
    name: 'averageSalesByWeek',
    label: 'Avg sold (by Week)',
    field: 'averageSalesByWeek',
    align: 'right',
    format: (value:number) => toLocaleNumber(value),
    sortable: true
  },
  {
    name: 'averageSalesByMonth',
    label: 'Avg sold (by Month)',
    align: 'right',
    field: 'averageSalesByMonth',
    format: (value:number) => toLocaleNumber(value),
    sortable: true
  },
  {
    name: 'averageSalesByDayByRetailer',
    label: 'Avg sold (by Retailer by day)',
    align: 'right',
    field: 'averageSalesByDayByRetailer',
    format: (value:number) => toLocaleNumber(value),
    sortable: true
  },
  {
    name: 'daysInActiveStatus',
    label: 'Days in ACTIVE status',
    align: 'right',
    field: 'daysInActiveStatus',
    format: (value:number) => toLocaleNumber(value),
    sortable: true
  },
  {
    name: 'averageValidationsPerWeek',
    label: 'Avg validations (per Week)',
    align: 'right',
    field: 'averageValidationsPerWeek',
    format: (value:number) => toLocaleNumber(value),
    sortable: true
  }
]

const retrieveGameSalesReport = async () => {
  const res = await gameService.reports.gameSales.get()
  if (res.data.value) {
    setInitialData(res.data.value)
  }
}

const setInitialData = (data:any) => {
  listOfGamesIsPending.value = false
  listOfGameSalesReport.value = data
  listOfGameSalesReportByName.value = listOfGameSalesReport.value ? sortArrayOfObjects(listOfGameSalesReport.value, 'gameName') : []
}
</script>
