<template>
  <q-dialog v-model="alert">
    <q-card class="alert-card" :style="{width}">
      <q-bar v-if="$slots.header" class="alert-header">
        <div class="alert-header-title">
          <slot name="header" />
        </div>
        <q-space />
        <q-btn
          v-close-popup
          dense
          flat
          icon="close"
          class="alert-header-close"
        >
          <q-tooltip>Close</q-tooltip>
        </q-btn>
      </q-bar>
      <q-card-section class="alert-content">
        <slot name="content" />
      </q-card-section>
      <q-card-actions v-if="$slots.actions" class="alert-actions">
        <div class="alert-actions-button-group">
          <slot name="actions" />
        </div>
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script setup lang="ts">

interface Props {
  width?: string,
}

withDefaults(defineProps<Props>(), {
  width: 'auto'
})
const alert = ref()

</script>

<style lang="scss" scoped>
  .alert-header {
    padding: 0.875rem 1.25rem 0.875rem 1.5rem;
    border-bottom: 1px solid $grey200;
    background-color: $white;
    height: auto;
    color: $grey500;
    font-weight: 600;
  }
  .alert-header-close {
    font-size: 0.875rem;
    line-height: 0;
  }
  .alert-content {
    font-weight: 400;
    color: $grey400;
    padding: 2rem;
    font-size: 1rem;
  }
  .alert-actions {
    padding: 1rem 1.5rem 1.25rem;
    border-top: 1px solid $grey200;
  }
  .alert-actions-button-group {
    display: flex;
    gap: 1rem;
    width: 100%;
  }
  .alert-card {
    max-width: initial;
  }
</style>
