<template>
  <nav class="app-nav">
    <q-list class="app-nav__list">
      <template v-for="(menuItem, index) in menuList" :key="index">
        <q-item class="app-nav__item">
          <div class="app-nav__item-content">
            <nuxt-link :to="menuItem.to" class="app-nav__link" clickable>
              <q-icon :name="menuItem.icon" class="app-nav__link-icon" />
              <q-item-section>
                {{ menuItem.label }}
              </q-item-section>
            </nuxt-link>
            <q-btn
              v-if="menuItem.children"
              flat
              class="app-nav__expand-handler"
              @click="menuItem.showChildren = !menuItem.showChildren"
            >
              <q-icon
                class="app-nav__expand"
                name="expand_more"
                :class="`app-nav__expand${menuItem.showChildren?'--more':'--less'}`"
              />
            </q-btn>
          </div>
          <q-list
            v-if="menuItem.children"
            class="app-nav__list-children"
            :class="`app-nav__list-children${menuItem.showChildren?'--more':'--less'}`"
          >
            <q-item
              v-for="(menuSubitem, idx) in menuItem.children"
              :key="idx"
              class="app-nav__item-children"
            >
              <nuxt-link :to="menuSubitem.to" class="app-nav__link-children" clickable>
                <q-icon name="subdirectory_arrow_right" class="app-nav__link-children-icon" />
                <q-item-section>
                  {{ menuSubitem.label }}
                </q-item-section>
              </nuxt-link>
            </q-item>
          </q-list>
        </q-item>
        <q-separator v-if="menuItem.separator" :key="'sep' + index" />
      </template>
    </q-list>
  </nav>
</template>

<script setup lang="ts">
import {
  DASHBOARD,
  RETAILER_DASHBOARD,
  RETAILER_CREATE,
  RETAILER_SETTLEMENT,
  RETAILER_COMMISSIONS,
  GAME_DASHBOARD,
  GAME_REPORTS
} from '~/constants/paths'

const menuList = ref([
  {
    icon: 'home',
    label: 'Dashboard',
    to: DASHBOARD,
    separator: false
  },
  {
    icon: 'casino',
    label: 'Game',
    to: GAME_DASHBOARD,
    separator: false,
    showChildren: false,
    children: [
      {
        label: 'Reports',
        to: GAME_REPORTS
      }
    ]
  },
  {
    icon: 'storefront',
    label: 'Retailers',
    to: RETAILER_DASHBOARD,
    separator: false,
    showChildren: false,
    children: [
      {
        label: 'Settlement rules',
        to: RETAILER_SETTLEMENT
      },
      {
        label: 'Commissions',
        to: RETAILER_COMMISSIONS
      }
    ]
  }
])

</script>

<style lang="scss" scoped>
.app-nav__item {
  font-size: 1rem;
  flex-direction: column;
  margin-bottom: 0.5rem;
  justify-content: center;
  padding: 0;
}
.app-nav__item-content {
  position: relative;
}
.app-nav__expand-handler {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 1.25rem;
}
.app-nav__link {
  color: $grey500;
  border-radius: 0.5rem;
  text-decoration: none;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  &.router-link-exact-active {
    background-color: $grey100;
  }
}
.app-nav__link-icon {
  width: 1.5rem;
  font-size: 1.5rem;
  margin-right: 0.75rem;
}
.app-nav__list-children {
  margin-bottom: 0.25rem;
  overflow: hidden;
  transition: max-height 0.2s;
  max-height: 10rem;
  &--less {
    max-height: 0;
  }
}
.app-nav__item-children {
  color: $grey400;
  font-size: 0.875rem;
  text-decoration: none;
  font-weight: bold;
  display: flex;
  margin-top: 0.75rem;
  min-height: 2rem;
  padding: 0;
}

.app-nav__link-children {
  color: $grey500;
  text-decoration: none;
  font-weight: bold;
  display: flex;
  align-items: center;
  flex-basis: 100%;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  &.router-link-exact-active {
    background-color: $grey100;
    .app-nav__link-children-icon {
      visibility: visible;
    }
  }
}
.app-nav__link-children-icon {
  visibility: hidden;
  color: $grey400;
  font-size: 1.5rem;
  width: 2rem;
  padding-right: 0.25rem;
}

.app-nav__expand {
  transition: transform 0.2s;
  transform: rotate(0);
  font-size: 1.5rem;
  color: $grey400;
  &--more {
    transform: rotate(180deg);
  }
}

</style>
