<template>
  <QBtn
    :class="'button button-' + type + '-' + variant"
    :variant="variant"
    padding="7px 24px"
    :ripple="false"
    :to="to"
    :disable="disabled"
    @click="triggerClick"
  >
    <q-icon v-if="iconPrepend" :name="iconPrepend" class="button-icon button-icon-prepend" />
    <slot>Button Text</slot>
    <q-icon v-if="iconAppend" :name="iconAppend" class="button-icon button-icon-append" />
  </QBtn>
</template>

<script setup lang="ts">
type Variant = 'empty' | 'flat' | 'outlined';

interface Props {
  disabled?: boolean;
  type?: 'primary' | 'danger' | 'black';
  variant?: Variant;
  to?: string;
  iconPrepend?: string
  iconAppend?: string
}

withDefaults(defineProps<Props>(), {
  disabled: false,
  type: 'primary',
  variant: 'flat',
  linksTo: undefined,
  to: undefined,
  iconPrepend: undefined,
  iconAppend: undefined
})

const emit = defineEmits<{(e: 'click'): void
}>()

const triggerClick = () => emit('click')
</script>

<style scoped lang="scss">
.button {
  text-transform: none;
  min-width: 8.75rem !important;
  font-size: 1rem;
}
.button-primary {
  &-empty {
    color: $blue500;
    &:hover {
      background-color: $white;
    }
  }
  &-flat {
    border: 1px solid $blue500;
    background-color: $blue500;
    color: $white;
    &:hover {
      background-color: lighten($color: $blue500, $amount: 5);
    }
    &.disabled {
      border: 1px solid $disable;
      color: $grey300;
      background-color: $disable;
      opacity: 1 !important;
    }
  }
  &-outlined {
    border: 1px solid $blue500;
    color: $blue500;
    &:hover {
      background-color: lighten($color: $blue500, $amount: 55);
    }
  }
}

.button-danger {
  &-flat {
    border: 1px solid $error;
    background-color: $error;
    color: $white;
    &:hover {
      background-color: lighten($color: $error, $amount: 5);
    }
  }
}

.button-black {
  &-empty {
    color: $grey400;
    &:hover {
      background-color: $white;
    }
  }
}

.button-icon {
  font-size: 1.5rem;
  &-prepend {
    margin-right: 0.75rem;
    margin-left: -0.5rem;
  }
  &-append {
    margin-left: 0.75rem;
    margin-right: -0.5rem;
  }
}
</style>
