<template>
  <h2 class="page-title">
    <slot>Title example</slot>
  </h2>
</template>

<style scoped lang="scss">
.page-title {
  font-size: 2.125rem;
  font-weight: 600;
  margin-bottom: 1rem;
  line-height: 1.4;
  color: $grey500;
  letter-spacing: 0.68px;
}
</style>
