<template>
  <div class="pannel-tip" :class="'pannel-tip__' + type">
    <q-icon :name="iconName" class="pannel-tip__icon" />
    <div class="pannel-tip__content">
      <slot />
    </div>
  </div>
</template>

<script setup lang="ts">
interface Props {
  type?: 'info' | 'warning';
}

const props = withDefaults(defineProps<Props>(), {
  type: 'info'
})

const iconName = computed(() => {
  switch (props.type) {
    case 'info':
      return 'info'
    case 'warning':
      return 'priority_high'
  }
})
</script>

<style scoped lang="scss">
.pannel-tip {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 0.5rem;
  gap: 0.5rem;
  padding: 1rem 2rem 1rem 1rem;
  &__info {
    background-color: $blue100;
    .pannel-tip__icon {
      color: $blue500;
    }
  }
  &__warning {
    background-color: $yellow100;
    .pannel-tip__icon {
      font-size: 0.875rem;
      padding: 0.25rem;
      background-color: $yellow500;
      border-radius: 50%;
      color: $grey400;
    }
  }
}

.pannel-tip__icon {
  font-size: 1.625rem;
}

.pannel-tip__content {
  font-size: 0.875rem;
  color: $grey400;
  font-weight: 400;
  line-height: 1.5;
}
</style>
