<template>
  <div>
    <q-spinner-oval
      :size="size + 'rem'"
    />
    <q-tooltip :offset="[0, 8]">
      QSpinnerOval
    </q-tooltip>
  </div>
</template>

<script setup lang="ts">
interface Props {
  size?: number;
}

withDefaults(defineProps<Props>(), {
  size: 2
})
</script>
