<template>
  <q-stepper
    ref="stepper"
    flat
    animated
    :model-value="currentStep"
  >
    <template
      v-for="(step, index) in steps"
      :key="step.title + index"
    >
      <q-step
        :name="index + 1"
        :title="step.title"
        :icon="step.icon"
        :done="currentStep > index + 1"
      />
    </template>
  </q-stepper>
</template>

<script setup lang="ts">
interface Props {
  currentStep?: number
  steps: {
    title: string
    icon?: string
  }[]
}

withDefaults(defineProps<Props>(), {
  currentStep: 1,
  steps: () => [
    { title: '' }
  ]
})
</script>

<style lang="scss">
.q-stepper {
  counter-reset: css-counter;
}

.q-stepper__dot span > * {
  display: none;
}

.q-stepper__dot span::before {
  counter-increment: css-counter;
  content: counter(css-counter);
  font-weight: 400;
}

.q-panel-parent {
  display: none;
}

.q-stepper__dot {
  color: $grey100;
  span::before {
    color: $grey400;
  }
}

.q-stepper__tab {
  color: $grey300;
  span {
    font-size: 0.75rem;
  }
}

.q-stepper__tab--done {
  color: $grey400;
  .q-stepper__dot {
    color: $success;
    span::before {
      color: $white;
      content: '✓';
    }
  }
}

.q-stepper__tab--active {
  color: $grey500;
  .q-stepper__dot {
    color: $blue500;
    span::before {
      color: $white;
    }
  }
}

</style>
