<template>
  <table class="blank-table">
    <slot />
  </table>
</template>

<style lang="scss">
.blank-table {
  width: 100%;
  table-layout: fixed;
  color: $grey400;
  font-size: 1rem;
  position: relative;
  th {
    font-weight: 400;
    color: $grey500;
  }
  tr {
    height: 2.25rem;
    td:nth-child(1) {
      color: $grey500;
    }
    th:nth-child(1) {
      color: $grey500;
    }
  }
  thead {
    tr {
      border-bottom: 1px solid $grey100;
    }
  }
  tbody {
    tr:not(:last-child) {
      border-bottom: 1px solid $grey100;
    }
  }
  tfoot {
    tr {
      border-top: 1px solid $grey100;
    }
  }
  tbody, tfoot {
    td {
      padding: 0.75rem 0;
    }
  }
  .total-label {
    font-weight: 600;
  }
  .cell-left {
    text-align: left;
  }
  .cell-right {
    text-align: right;
  }
  .cell-bold {
    font-weight: 600;
  }
}
</style>
