<template>
  <div class="retailers-settlement-rules-page">
    <PageTitle>Retailers</PageTitle>
    <Card>
      <template #header>
        <CardHeading
          title="Settlement rules"
          subtitle="Select a retailer to establish their settlement rules"
        />
      </template>
      <q-form ref="settlementRulesForm" :greedy="true">
        <div class="form-fields">
          <InputSelectFilter
            v-model="inputs.retailerId"
            v-bind="fields.retailerId"
            :options="listOfRetailers"
            :init-value="inputs.retailerId"
            autofocus
            data-testid="settlement-rules-retailerid"
            @update:model-value="fetchSettlementData"
          />
          <InputText
            v-model.number="inputs.afterPackActivation"
            v-bind="fields.afterPackActivation"
            data-testid="settlement-rules-after-pack-activation"
            type="number"
          />
          <InputText
            v-model.number="inputs.afterPackReception"
            v-bind="fields.afterPackReception"
            data-testid="settlement-rules-after-pack-reception"
            type="number"
          />
          <InputToggleWrapper v-bind="fields.enableSettlementAnotherPackActivated">
            <InputToggle
              v-model="inputs.enableSettlementAnotherPackActivated"
              data-testid="settlement-rules-collection-after-pack"
            />
          </InputToggleWrapper>
        </div>
        <div class="form-actions">
          <ButtonBase
            variant="outlined"
            type="primary"
            data-testid="settlement-rules-save-exit"
            :to="RETAILER_DASHBOARD"
          >
            Cancel
          </ButtonBase>
          <ButtonBase
            variant="flat"
            type="primary"
            data-testid="settlement-rules-save-load"
            @click="formActions.saveRules"
          >
            Save settlement rules
          </ButtonBase>
        </div>
      </q-form>
    </Card>
  </div>
</template>

<script setup lang="ts">
import {
  RETAILER_DASHBOARD
} from '~/constants/paths'

import { validations } from '~/utils/validations'
import { retailerService } from '~/api/services'

const router = useRouter()

const listOfRetailers = ref([])

onBeforeMount(async () => {
  const res = await retailerService.retailers.getAll({ status: 'ALL' })
  if (res.data.value) {
    setInitialData(res.data.value)
  }
})

const setInitialData = (data: { retailerId: string; retailerName: string }[]) => {
  const listOfFetchedRetailers = data.map((el: { retailerId: string; retailerName: string; }) => {
    return {
      label: el.retailerName,
      value: el.retailerId
    }
  })
  listOfRetailers.value = listOfFetchedRetailers
}

const inputs = ref({
  retailerId: undefined,
  afterPackActivation: undefined,
  afterPackReception: undefined,
  enableSettlementAnotherPackActivated: undefined
})

const fields = {
  retailerId: {
    label: 'Retailer',
    placeholder: 'Select a retailer',
    rules: [
      (input: string) => {
        return (
          validations.isNotEmpty(input)) ||
          'You must select a retailer to apply settlement rules'
      }
    ]
  },
  afterPackActivation: {
    label: 'Settlement after pack activation',
    placeholder: 'Enter a number of days to start the settlement period',
    rules: [
      (input: number) => {
        return (validations.types.isInteger(input) && validations.compare.isNumberGreaterThan(input, -1)) ||
        'Enter number of days'
      }
    ]
  },
  afterPackReception: {
    label: 'Settlement after pack reception',
    placeholder: 'Enter a number of days to start the settlement period',
    rules: [
      (input: number) => {
        return (validations.types.isInteger(input) && validations.compare.isNumberGreaterThan(input, -1)) ||
        'Enter number of days'
      }
    ]
  },
  enableSettlementAnotherPackActivated: {
    label: 'Settlement when another pack of the same game is activated?',
    options: ['No', 'Yes']
  }
}

const fetchSettlementData = async () => {
  const retailerId = inputs.value.retailerId
  if (retailerId !== undefined) {
    const res = await retailerService.retailers.masterData.get(retailerId)
    if (!res.error.value && res.data.value) {
      const data = res.data.value
      inputs.value.afterPackActivation = data.settlement.afterPackActivation
      inputs.value.afterPackReception = data.settlement.afterPackReception
      inputs.value.enableSettlementAnotherPackActivated = data.settlement.enableSettlementAnotherPackActivated
    } else {
      resetFormInputs(retailerId)
    }
  }
}

const resetFormInputs = (retailerId:string) => {
  inputs.value = {
    retailerId,
    afterPackActivation: undefined,
    afterPackReception: undefined,
    enableSettlementAnotherPackActivated: undefined
  }
}

const settlementRulesForm = ref<any>(null)

const validate = () => settlementRulesForm.value.validate()

const submitData = async () => {
  const { retailerId, ...params } = inputs.value
  if (retailerId) {
    const res = await retailerService.settlement.put(retailerId, params)
    return res
  }
}

const formActions = {
  saveRules: async () => {
    const isFormValid = await validate()
    if (isFormValid) {
      const res = await submitData()
      const { error } = res
      if (error.value) {
        alert(error.value.data.message)
      } else {
        router.push(RETAILER_DASHBOARD)
      }
    }
  }
}

</script>

<style lang="scss" scoped>
.form-container {
  padding: 2rem 1.6rem;
}

.form-fields {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
}

.form-actions {
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 1px solid $grey100;
  display: flex;
  gap: 1.5rem;
}
</style>

<style lang="scss">
.q-field--auto-height.q-field--labeled .q-field__control-container {
  padding-top: 0 !important;
}
</style>
