<template>
  <q-table
    :rows="listOfGamesFiltered"
    :columns="columns"
    row-key="games-list"
    flat
    class="game-list-all-table"
    :rows-per-page-options="[10, 20, 50]"
    :rows-per-page-label="'Rows per page'"
  >
    <template #no-data>
      <div class="no-data">
        <template v-if="listOfGamesIsPending">
          <spinner-bars />
        </template>
        <template v-else>
          <q-icon class="no-data-icon" name="list" />
          <span class="no-data-placeholder">
            No games found
          </span>
        </template>
      </div>
    </template>
    <template #body-cell-logs="props">
      <q-td :props="props">
        <q-btn
          dense
          flat
          color="grey"
          icon="description"
          title="view inventory and validation files"
          class="game-list__action-icon"
          :disable="!canViewFiles(props.row)"
          :to="gameReportRoute({ route: GAME_REPORTS_SLUG_LOAD_FILES, id: props.row.gameId })"
        />
      </q-td>
    </template>
    <template #body-cell-edit="props">
      <q-td :props="props">
        <q-btn
          dense
          flat
          color="grey"
          icon="edit"
          title="edit game"
          class="game-list__action-icon"
          :disable="!canEdit(props.row)"
          @click="editGame(props.row)"
        />
      </q-td>
    </template>
    <template #body-cell-actions="props">
      <q-td :props="props">
        <q-btn
          v-if="canActivate(props.row)"
          dense
          flat
          color="grey"
          icon="play_arrow"
          title="activate game"
          class="game-list__action-icon"
          @click="activateGame(props.row)"
        />
        <q-btn
          v-if="canEnd(props.row)"
          dense
          flat
          color="grey"
          icon="stop"
          title="end game"
          class="game-list__action-icon"
          @click="endGame(props.row)"
        />
        <q-btn
          v-if="canClose(props.row)"
          dense
          flat
          color="grey"
          icon="close"
          title="close game"
          class="game-list__action-icon"
          @click="closeGame(props.row)"
        />
      </q-td>
    </template>
  </q-table>
  <AlertModal v-model="udpateGame.isAvailable">
    <template #header>
      <div class="warning-title">
        <span v-if="udpateGame.toState === 'ACTIVE'">
          Do you want to Activate the game "{{ udpateGame.gameName }}?"
        </span>
        <span v-if="udpateGame.toState === 'ENDED'">
          Do you want to End the game "{{ udpateGame.gameName }}?"
        </span>
        <span v-if="udpateGame.toState === 'CLOSED'">
          Do you want to Close the game "{{ udpateGame.gameName }}?"
        </span>
      </div>
    </template>
    <template #content>
      <div class="warning-message__icon">
        <q-icon name="error" />
      </div>
      <div class="warning-message">
        <span class="warning-message__reminder">
          Remember that this action cannot be undone
        </span>
        <span v-if="udpateGame.toState === 'ACTIVE'">
          Once the Game is activated, you can only Close or End it manually
        </span>
        <span v-if="udpateGame.toState === 'ENDED'">
          Once the Game is ended, you can Close it manually
        </span>
        <span v-if="udpateGame.toState === 'CLOSED'">
          Once the Game is closed, you can't Edit it anymore
        </span>
      </div>
    </template>
    <template #actions>
      <div class="warning-actions">
        <ButtonBase v-close-popup outlined variant="outlined" type="primary">
          Cancel
        </ButtonBase>
        <ButtonBase
          v-if="udpateGame.toState === 'ACTIVE'"
          v-close-popup
          flat
          variant="flat"
          type="primary"
          @click="confirmActivateGame"
        >
          Activate game
        </ButtonBase>
        <ButtonBase
          v-if="udpateGame.toState === 'ENDED'"
          v-close-popup
          flat
          variant="flat"
          type="danger"
          @click="confirmEndGame"
        >
          End game
        </ButtonBase>
        <ButtonBase
          v-if="udpateGame.toState === 'CLOSED'"
          v-close-popup
          flat
          variant="flat"
          type="danger"
          @click="confirmCloseGame"
        >
          Close game
        </ButtonBase>
      </div>
    </template>
  </AlertModal>
</template>

<script setup lang="ts">
import { gameStatus } from 'models/game'
import { gameService } from '~/api/services'
import { date } from '~/utils/date'
import {
  GAME_REPORTS_SLUG_LOAD_FILES,
  gameReportRoute
} from '~/constants/paths'

const router = useRouter()

const gameToFetch = inject<any>('gameToFetch')

const listOfGames = ref<any>([])
const listOfGamesFiltered = ref<any>([])

const filters = inject<any>('gameFilters')

const listOfGamesIsPending = ref(true)

const udpateGame = ref({
  isAvailable: false,
  gameName: undefined,
  gameId: undefined,
  toState: 'ACTIVE'
})

onBeforeMount(async () => {
  const res = await gameService.games.getAll({ status: [] })
  if (res.data.value) {
    setInitialData(res.data.value)
  }
})

const columns = [
  {
    name: 'name',
    align: 'left',
    label: 'Name',
    field: 'name',
    sortable: true
  },
  {
    name: 'creationDate',
    required: true,
    label: 'Creation date',
    align: 'left',
    field: 'creationDate',
    sortable: true,
    format: (value:string) => date.parseISOtoDDMMYYYY(value)
  },
  {
    name: 'ticketNo',
    label: 'No. of tickets',
    field: 'numberOfTickets',
    format: (value:number) => toLocaleNumber(value),
    sortable: true
  },
  {
    name: 'id',
    required: true,
    label: 'ID',
    align: 'left',
    field: 'lotteryNumber',
    sortable: true
  },
  {
    name: 'state',
    label: 'State',
    field: 'status',
    align: 'left',
    sortable: true
  },
  {
    name: 'logs',
    label: 'Load files',
    field: 'logs',
    align: 'center',
    classes: 'column-action'
  },
  {
    name: 'edit',
    label: 'Edit',
    field: 'edit',
    align: 'center',
    classes: 'column-action'
  },
  {
    name: 'actions',
    label: 'Actions',
    field: '',
    align: 'center',
    classes: 'column-action'
  }
]

const retrieveAllGames = async () => {
  const gameFilters = filters.value.gameStatus
  const res = await gameService.games.getAll({ status: gameFilters })
  if (res.data.value) {
    setInitialData(res.data.value)
  }
}

const setInitialData = (data) => {
  listOfGamesIsPending.value = false
  listOfGames.value = data
  listOfGamesFiltered.value = filterGames()
}

const canActivate = ({ status }:{ status: gameStatus }) => status === 'LOADED'

const activateGame = ({ gameId, name }: any) => {
  udpateGame.value = {
    gameName: name,
    gameId,
    isAvailable: true,
    toState: 'ACTIVE'
  }
}

const confirmActivateGame = async () => {
  const gameId = udpateGame.value.gameId
  if (gameId) {
    const res = await gameService.games.activate(gameId)
    if (!res.error.value) {
      retrieveAllGames()
    }
  }
}

const canEnd = ({ status }:{ status: gameStatus }) => status === 'ACTIVE'

const endGame = ({ gameId, name }: any) => {
  udpateGame.value = {
    gameName: name,
    gameId,
    isAvailable: true,
    toState: 'ENDED'
  }
}

const confirmEndGame = async () => {
  const gameId = udpateGame.value.gameId
  if (gameId) {
    const res = await gameService.games.end(gameId)
    if (!res.error.value) {
      retrieveAllGames()
    }
  }
}

const canClose = ({ status }:{ status: gameStatus }) => status === 'ENDED'

const closeGame = ({ gameId, name }: any) => {
  udpateGame.value = {
    gameName: name,
    gameId,
    isAvailable: true,
    toState: 'CLOSED'
  }
}

const confirmCloseGame = async () => {
  const gameId = udpateGame.value.gameId
  if (gameId) {
    const res = await gameService.games.close(gameId)
    if (!res.error.value) {
      retrieveAllGames()
    }
  }
}

const canEdit = ({ status }:{ status: gameStatus }) => status === 'CREATED'

const editGame = ({ gameId }: any) => {
  if (gameId) {
    gameToFetch.value = gameId
    router.push({ name: 'game-load' })
  }
}

const canViewFiles = ({ haveFilesProcessing }: { haveFilesProcessing: boolean }) => {
  return haveFilesProcessing
}

const filterGames = () => {
  if (!listOfGames) { return [] }
  const res = listOfGames.value.filter((el: { name: string | any[]; }) => (el.name?.toLowerCase()).includes(filters.value.gameName.toLowerCase()))
  if (res && res.length > 1) {
    return sortArrayOfObjects(res, 'gameName').reverse()
  }
  return res
}

watch(
  () => filters.value.gameName,
  () => {
    listOfGamesFiltered.value = filterGames()
  }
)

watch(
  () => filters.value.gameStatus,
  () => {
    retrieveAllGames()
  }
)

</script>

<style lang="scss" scoped>
.list {
  display: flex;
}

.warning-message__icon {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: $red200;
  font-size: 3rem;
  color: $error;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -0.5rem auto 1.5rem;
  i {
    position: relative;
    z-index: 1;
  }
  &:after {
    content: '';
    width: 2rem;
    height: 2rem;
    background-color: $white;
    position: absolute;
    left: 1.5rem;
    top: 1.5rem;
    border-radius: 50%;
  }
}
.warning-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.warning-message__reminder {
  font-weight: 600;
}

.warning-actions {
  display: flex;
  gap: 1rem;
  margin: auto;
}

</style>

<style lang="scss">
.game-list-all-table {
  overflow-y: hidden;
  border-radius: 0.5rem;
  border: 1px solid $grey200;
  thead {
    th {
      background-color: $grey100;
      color: $grey500;
      font-weight: 500;
      font-size: 0.875rem;
    }
  }
  tbody {
    td {
      font-size: 0.875rem;
      color: $grey400;
    }
  }
  .no-data {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    padding: 1.125rem;
  }
  .no-data-icon {
    font-size: 2.75rem;
    color: $blue500;
    background-color: $disable-info;
    border-radius: 50%;
    width: 4.5rem;
    height: 4.5rem;
  }
  .no-data-placeholder {
    font-size: 0.875rem;
    color: $grey300;
    font-weight: 600;
  }
  .icon-action {
    font-size: 0.75rem;
  }
  .column-action {
    width: 5rem;
  }
  .game-list__action-icon {
    i {
      color: $grey400;
    }
    &.disabled {
      i {
        color: $grey200;
      }
    }
  }
}
</style>
