<template>
  <div class="game-filters">
    <InputText
      v-model="gameFilters.gameName"
      data-testid="game-name-filter-dashboard"
      variant="rounded"
      v-bind="fields.gameName"
      class="game-filters__searchbar"
    />
    <div class="game-filters__selector">
      <div class="game-filters__selector-title">
        <q-icon name="filter_list" class="game-filters__selector-icon" />
        <span>Filter by:</span>
      </div>
      <InputSelect
        v-model="gameFilters.gameStatus"
        v-bind="fields.gameStatus"
        class="game-filters__selector-dropdown"
        allow-multiple
        dense
      />
    </div>
  </div>
</template>

<script lang="ts" setup>
const gameFilters = inject<any>('gameFilters')

const fields = {
  gameName: {
    label: '',
    prependIcon: 'search',
    placeholder: 'Search a game by name',
    rules: []
  },
  gameStatus: {
    label: '',
    placeholder: 'Status',
    options: [
      { label: 'Created', value: 'CREATED' },
      { label: 'Loaded', value: 'LOADED' },
      { label: 'Active', value: 'ACTIVE' },
      { label: 'Ended', value: 'ENDED' },
      { label: 'Closed', value: 'CLOSED' }
    ],
    rules: []
  }
}
</script>

<style lang="scss" scoped>
.game-filters {
  display: flex;
  gap: 2rem;
  width: 100%;
  align-items: center;
}

.game-filters__searchbar {
  flex: 1 0 auto;
}

.game-filters__selector {
  flex: 1 1;
  height: 4rem;
  background-color: $blue100;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.5rem;
  padding: 0.75rem 2rem;
  border-radius: 0.5rem;
}

.game-filters__selector-title {
  display: flex;
  gap: 0.5rem;
  color: $grey400;
  align-items: center;
}

.game-filters__selector-icon {
  color: $blue500;
  font-size: 1.5rem;
}

.game-filters__selector-dropdown {
  flex: auto;
  background-color: $white;
  :deep(.q-field__native) {
    padding-top: 0.625rem !important;
    padding-bottom: 0.5rem !important;
  }
}
</style>
