<template>
  <div class="form-fields__row">
    <InputSelect
      v-model="inputs.telSale"
      v-bind="fields.telSale"
      :options="telselOptions"
      data-testid="master-data-telsel-id"
    />
    <InputSelect
      v-model="inputs.area"
      v-bind="fields.area"
      :options="areaOptions"
      data-testid="master-data-telsel-area"
    />
  </div>
  <div class="form-fields__row">
    <InputText
      v-model.number="inputs.settlement.afterPackActivation"
      v-bind="fields.settlement.afterPackActivation"
      data-testid="master-data-after-pack-activation"
      type="number"
    />
    <InputText
      v-model.number="inputs.settlement.afterPackReception"
      v-bind="fields.settlement.afterPackReception"
      data-testid="master-data-after-pack-reception"
      type="number"
    />
  </div>
  <InputToggleWrapper
    class="master-data__settlement-enable"
    v-bind="fields.settlement.enableSettlementAnotherPackActivated"
  >
    <InputToggle
      v-model="inputs.settlement.enableSettlementAnotherPackActivated"
      data-testid="master-data-collection-after-pack"
    />
  </InputToggleWrapper>
  <div class="master-data__limits">
    <CardHeadingSection title="Limits" class="master-data__limits-heading" />
    <div class="form-fields__row">
      <InputText
        v-model.number="inputs.limits.packsOrder"
        v-bind="fields.limits.packsOrder"
        data-testid="master-data-packs-order"
        type="number"
      />
      <InputText
        v-model.number="inputs.limits.inventory"
        v-bind="fields.limits.inventory"
        data-testid="master-data-inventory"
        type="number"
      />
      <InputText
        v-model.number="inputs.limits.balance"
        v-bind="fields.limits.balance"
        data-testid="master-data-balance"
        type="number"
      />
    </div>
  </div>
</template>

<script setup lang="ts">
import { retailerService } from '~/api/services'

const data = inject('salesData')

const inputs = ref<any>(data)

const fields = {
  telSale: {
    label: 'Telsel ID',
    placeholder: 'Select a number of game areas to scratch',
    rules: [
      (input: string) => {
        return (
          validations.isNotEmpty(input)) ||
        'Select an telsel'
      }
    ]
  },
  area: {
    label: 'Area',
    placeholder: 'Select an area',
    rules: [
      (input: string) => {
        return (
          validations.isNotEmpty(input)) ||
        'Select an area'
      }
    ]
  },
  settlement: {
    afterPackActivation: {
      label: 'Settlement after pack activation',
      placeholder: 'Enter a number of days to start the settlement period',
      rules: [
        (input: number) => {
          return (
            validations.isNotEmpty(input)) ||
          'Indicate a number'
        },
        (input: number) => {
          return (validations.types.isInteger(input) && validations.compare.isNumberGreaterThan(input, -1)) ||
          'The number cannot be negative'
        }
      ]
    },
    afterPackReception: {
      label: 'Settlement after pack reception',
      placeholder: 'Enter a number of days to start the settlement period',
      rules: [
        (input: number) => {
          return (
            validations.isNotEmpty(input)) ||
          'Indicate a number'
        },
        (input: number) => {
          return (validations.types.isInteger(input) && validations.compare.isNumberGreaterThan(input, -1)) ||
          'The number cannot be negative'
        }
      ]
    },
    enableSettlementAnotherPackActivated: {
      label: 'Settlement when another pack of the same game is activated?',
      options: ['No', 'Yes']
    }
  },
  limits: {
    packsOrder: {
      label: 'Packs order',
      placeholder: 'Enter a limit',
      rules: [
        (input: number) => {
          return (validations.types.isInteger(input) && validations.compare.isNumberGreaterThan(input, -1)) ||
        'Enter a valid limit'
        }
      ]
    },
    inventory: {
      label: 'Inventory',
      placeholder: 'Enter a limit',
      rules: [
        (input: number) => {
          return (validations.types.isInteger(input) && validations.compare.isNumberGreaterThan(input, -1)) ||
        'Enter a valid limit'
        }
      ]
    },
    balance: {
      label: 'Balance',
      placeholder: 'Enter a limit',
      prependIcon: 'euro',
      rules: [
        (input: number) => {
          return (validations.types.isInteger(input) && validations.compare.isNumberGreaterThan(input, -1)) ||
        'Enter a valid limit'
        }
      ]
    }
  }
}

const areaOptions = ref([])
const telselOptions = ref([])

onBeforeMount(async () => {
  const [areaOptionsRes, telselOptionsRes] = await Promise.all([
    retailerService.areas.get(),
    retailerService.telSales.get()
  ])
  if (areaOptionsRes.data.value) {
    setInitialAreasData(areaOptionsRes.data.value)
  }
  if (telselOptionsRes.data.value) {
    setInitialTelselData(telselOptionsRes.data.value)
  }
})

const setInitialAreasData = (data:any) => {
  areaOptions.value = data && data.map((el: string) => {
    return {
      label: el,
      value: el
    }
  })
}

const setInitialTelselData = (data:any) => {
  telselOptions.value = data && data.map((el: { name: string}) => {
    return {
      label: el.name,
      value: el.name
    }
  })
}

</script>

<style lang="scss" scoped>
.form-fields__row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.25rem;
  >* {
    flex: 1 1;
  }
}
.master-data__settlement-enable {
  display: flex;
  align-items: center;
  gap: 2rem;
  :deep(.toggle-input__label) {
    margin-bottom: 0;
  }
}

.master-data__limits {
  border: 1px solid $blue300;
  padding: 1rem;
  border-radius: 0.5rem;
}

.master-data__limits-heading {
  margin-bottom: 1.75rem;
}
</style>
