<template>
  <InputText
    v-model.trim="inputs.retailerName"
    v-bind="fields.retailerName"
    autofocus
    data-testid="master-data-name"
  />
  <InputText
    v-model.trim="inputs.retailerNumber"
    v-bind="fields.retailerNumber"
    data-testid="master-data-number"
  />
  <div class="form-fields__row">
    <InputText
      v-model.trim="inputs.address"
      v-bind="fields.address"
      data-testid="master-data-address"
    />
    <InputText
      v-model.trim="inputs.zipCode"
      v-bind="fields.zipCode"
      data-testid="master-data-zipcode"
    />
    <InputText
      v-model.trim="inputs.city"
      v-bind="fields.city"
      data-testid="master-data-city"
    />
  </div>
</template>

<script lang="ts" setup>

const data = inject('mainData')

const inputs = ref<any>(data)

const fields = {
  retailerName: {
    label: 'Name of retailer',
    placeholder: 'Enter a name',
    rules: [
      (input: string) => {
        return (
          validations.isNotEmpty(input)) ||
          'Enter a retailer name'
      },
      (input: string) => {
        return (
          validations.types.isAlphaNumeric(input)) ||
          'Special characters not allowed'
      }
    ]
  },
  retailerNumber: {
    label: 'Retailer No.',
    disable: true,
    rules: []
  },
  address: {
    label: 'Address',
    placeholder: 'Enter the address',
    rules: [
      (input: string) => {
        return (
          validations.isNotEmpty(input))
      }
    ]
  },
  zipCode: {
    label: 'Zip code',
    placeholder: 'Enter a zip code',
    rules: [
      (input: string) => {
        return (
          validations.isNotEmpty(input))
      }
    ]
  },
  city: {
    label: 'City',
    placeholder: 'Enter a City',
    rules: [
      (input: string) => {
        return (
          validations.isNotEmpty(input))
      }
    ]
  }
}
</script>

<style lang="scss" scoped>
.form-fields__row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.25rem;
  >* {
    flex: 1 1;
  }
}
</style>
