<template>
  <InputSelect
    v-model="inputs.status"
    v-bind="fields.status"
    :disable="disabled"
    data-testid="master-data-status"
  />
</template>

<script setup lang="ts">
interface Props {
  disabled?: boolean
}

withDefaults(defineProps<Props>(), {
  disabled: false
})

const data = inject('statusData')

const inputs = ref<any>(data)

const fields = {
  status: {
    label: 'Status',
    options: [
      { label: 'Active', value: 'ACTIVE' },
      { label: 'Deactivated', value: 'DEACTIVATED' }
    ]
  }
}
</script>
