@import "vars";

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-weight: normal;
  overflow-x: hidden;
  font-family: $font-primary;
}

button,
input {
  font-weight: normal;
}

p {
  font-size: 1.4rem;
  margin-bottom: 0.8rem;
}

ul {
  list-style: none;
}

abbr[title] {
  text-decoration: none;
}

table {
  border-collapse: collapse;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
