@import "vars";

$grey100: #f5f5f5;
$grey200: #B6B8BD;
$grey300: #797D85;
$grey400: #3D414C;
$grey500: #010612;

$white: #fff;
$black: #000;
$success: #28892B;
$disable: #DAE8F1;
$disable-info: #B9CED7;
$error: #ED0C19;

$blue100: #F6FCFF;
$blue200: #B9CED7;
$blue300: #87A8BD;
$blue500: #0E4990;
$blue600: #12267B;

$red200: #F89EA3;
$red300: #F46D75;

$yellow100: #FFF9CC;
$yellow200: #FFF499;
$yellow300: #FFEE66;
$yellow500: #FFE300;

$green200: #A9D0AA;
$green300: #7EB880;

