<template>
  <div class="master-data">
    <q-form ref="masterDataForm" :greedy="true">
      <Card bordered class="retailer-detail__content">
        <CardHeadingSection title="Master data:" />
        <PannelTip type="info" class="master-data__info">
          This data must be kept complete and up to date in order for the retailer to remain active and be able to sell the game.
        </PannelTip>
        <div class="form-fields">
          <MasterDataMain />
          <MasterDataSales />
          <MasterDataStatus :disabled="!canEditStatus" />
        </div>
      </Card>
      <div class="form-actions">
        <ButtonBase
          variant="outlined"
          type="primary"
          data-testid="master-data-cancel"
          :to="RETAILER_DASHBOARD"
        >
          Cancel
        </ButtonBase>
        <ButtonBase
          variant="flat"
          type="primary"
          data-testid="master-data-save"
          class="button-continue"
          @click="formActions.save"
        >
          Save changes
        </ButtonBase>
      </div>
    </q-form>
  </div>
</template>

<script setup lang="ts">
import { retailerService } from '~/api/services'
import { RETAILER_DASHBOARD } from '~/constants/paths'

const masterDataForm = ref(null)

const mainData = ref({
  retailerName: undefined,
  retailerNumber: undefined,
  address: undefined,
  zipCode: undefined,
  city: undefined
})

const salesData = ref({
  telSale: undefined,
  area: undefined,
  settlement: {
    afterPackActivation: undefined,
    afterPackReception: undefined,
    enableSettlementAnotherPackActivated: false
  },
  limits: {
    packsOrder: undefined,
    inventory: undefined,
    balance: undefined
  }
})

const statusData = ref({
  status: 'DEACTIVATED'
})

provide('mainData', mainData)
provide('salesData', salesData)
provide('statusData', statusData)
const retailerId = inject<any>('retailerId')

onBeforeMount(async () => {
  const retailerInfo = await retailerService.retailers.masterData.get(retailerId)
  if (retailerInfo.data.value) {
    setInitialData(retailerInfo.data.value)
  }
})

const setInitialData = (data: any) => {
  mainData.value = {
    retailerName: data.retailerName,
    retailerNumber: data.retailerNumber,
    address: data.address,
    zipCode: data.zipCode,
    city: data.city
  }
  salesData.value = {
    telSale: data.telSale,
    area: data.area,
    settlement: {
      afterPackActivation: data.settlement?.afterPackActivation,
      afterPackReception: data.settlement?.afterPackReception,
      enableSettlementAnotherPackActivated: data.settlement?.enableSettlementAnotherPackActivated
    },
    limits: {
      packsOrder: data.limits?.packsOrder,
      inventory: data.limits?.inventory,
      balance: data.limits?.balance
    }
  }
  statusData.value = {
    status: data.status
  }
}

const canEditStatus = computed(() => {
  return objectHasAllPropsDefined(mainData.value) && objectHasAllPropsDefined(salesData.value)
})

const formActions = {
  save: async () => {
    const isFormValid = await masterDataForm.value?.validate()
    if (isFormValid) {
      const res = await submitData()
      const { error } = res
      if (error.value) {
        alert(error.value.data.message)
      }
    }
  }
}

const submitData = async () => {
  const params = {
    ...mainData.value,
    ...salesData.value,
    ...statusData.value
  }
  const res = await retailerService.retailers.masterData.put(retailerId.toString(), params)
  return res
}

</script>

<style lang="scss" scoped>
.master-data {
  width: 100%;
}
.master-data__info {
  margin-bottom: 2rem;
}
.form-fields {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
}

.form-actions {
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 1px solid $grey100;
  display: flex;
  gap: 1.5rem;
  transform: translateX(-15.75rem);
  width: calc(100% + 15.75rem)
}

.retailer-detail__content {
  display: flex;
  flex-direction: column;
  border-color: $blue500;
  border-width: 1.5px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
</style>
