<template>
  <div class="other-data">
    <Card bordered class="retailer-detail__content">
      <CardHeadingSection title="Bonus data:" class="other-data__heading" />
      <q-form ref="otherDataForm" :greedy="true">
        <div class="form-fields">
          <OtherDataMain />
        </div>
      </q-form>
      <OtherDataCommissions />
    </Card>
    <div class="form-actions">
      <ButtonBase
        variant="outlined"
        type="primary"
        data-testid="master-data-cancel"
        :to="RETAILER_DASHBOARD"
      >
        Cancel
      </ButtonBase>
      <ButtonBase
        variant="flat"
        type="primary"
        data-testid="master-data-save"
        class="button-continue"
        @click="formActions.save"
      >
        Save changes
      </ButtonBase>
    </div>
  </div>
</template>

<script setup lang="ts">
import { retailerService } from '~/api/services'
import { RETAILER_DASHBOARD } from '~/constants/paths'

const otherDataForm = ref(null)

const mainData = ref({
  contactName: undefined,
  phoneNumber: undefined,
  email: undefined,
  fieldRepresentative: undefined,
  courier: undefined,
  specialBalanceCadence: undefined,
  specificInvoiceCadence: false,
  specificLimitPayablePrize: undefined,
  initialDistribution: false,
  numberOfPacks: undefined,
  requiredReturnPaidTickets: false
})

const commissionsData = ref([])

provide('mainData', mainData)
provide('commissionsData', commissionsData)
const retailerId = inject<any>('retailerId')

onBeforeMount(async () => {
  const retailerInfo = await retailerService.retailers.otherData.get(retailerId)
  if (retailerInfo.data.value) {
    setInitialData(retailerInfo.data.value)
  }
})

const setInitialData = (data: any) => {
  mainData.value = {
    contactName: data.contactName,
    phoneNumber: data.phoneNumber,
    email: data.email,
    fieldRepresentative: data.fieldRepresentative,
    courier: data.courier,
    specialBalanceCadence: data.specialBalanceCadence,
    specificInvoiceCadence: data.specificInvoiceCadence,
    specificLimitPayablePrize: data.specificLimitPayablePrize,
    initialDistribution: data.initialDistribution,
    numberOfPacks: data.numberOfPacks,
    requiredReturnPaidTickets: data.requiredReturnPaidTickets
  }
  commissionsData.value = data.commissionsPerGame
}

const formActions = {
  save: async () => {
    const isFormValid = await otherDataForm.value?.validate()
    if (isFormValid) {
      const res = submitData()
      const { error } = res
      if (error.value) {
        alert(error.value.data.message)
      }
    }
  }
}

const submitData = () => {
  alert('SUBMIT retailer data and redirect to retailer DASHBOARD, when services are available')
}

</script>

<style lang="scss" scoped>
.other-data {
  width: 100%;
}
.other-data__info {
  margin-bottom: 2rem;
}

.other-data__heading {
  margin-bottom: 1.75rem;
}
.form-fields {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
}

.form-actions {
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 1px solid $grey100;
  display: flex;
  gap: 1.5rem;
  transform: translateX(-15.75rem);
  width: calc(100% + 15.75rem)
}

.retailer-detail__content {
  display: flex;
  flex-direction: column;
  border-color: $blue500;
  border-width: 1.5px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
</style>
