<template>
  <q-layout view="hHh Lpr fFf" class="layout-wrapper">
    <q-header class="text-white app-header">
      <q-toolbar>
        <q-toolbar-title class="toolbar-title">
          <div class="logo-wrapper">
            <q-img
              src="~assets/img/customer-logo.svg"
              class="customer-logo"
            />
          </div>
          <div class="instant-wrapper">
            <q-img
              src="~assets/img/instant-logo.png"
              class="customer-logo"
            />
          </div>
          <div class="app-title-wrapper">
            <h1 class="app-title">
              Lotto Instants
            </h1>
            <span class="app-subtitle">Instant ticketing</span>
          </div>
          <q-space />
          <div class="buttons-wrapper">
            <ButtonBase
              variant="empty"
              type="black"
              data-testid="instants-notifications"
              icon-prepend="notifications"
              disabled
            >
              Notifications
            </ButtonBase>
            <ButtonBase
              variant="empty"
              type="black"
              data-testid="instants-settings"
              icon-prepend="settings"
              disabled
            >
              Settings
            </ButtonBase>
          </div>
        </q-toolbar-title>
      </q-toolbar>
    </q-header>
    <q-drawer show-if-above side="left" :width="236" class="q-pa-sm">
      <q-scroll-area class="fit">
        <app-navigation />
      </q-scroll-area>
    </q-drawer>
    <q-page-container>
      <div class="page-container">
        <div class="page-content">
          <router-view />
        </div>
      </div>
    </q-page-container>
  </q-layout>
</template>

<style scoped lang="scss">
.layout-wrapper {
  background-color: #F2F3F4;
}
.page-container {
  padding: 1.5rem;
}
.page-content {
  max-width: 1920px;
  min-width: 960px;
  width: 100%;
  position: relative;
}
.app-header {
  background-color: $white;
  height: 5rem;
  display: flex;
  align-items: center;
}

.app-title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 3px;
}

.app-title {
  color: $black;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: 0.25px;
  font-size: 1.25rem;
}

.app-subtitle {
  color: $grey300;
  font-size: 0.875rem;
  line-height: 1.2;
}

.toolbar-title {
  display: flex;
  flex-direction: row;
}
.logo-wrapper {
  width: 5.875rem;
  height: 3rem;
  margin-right: 1.25rem;
  margin-left: 0.5rem;
}

.instant-wrapper {
  width: 5.875rem;
  height: 3rem;
  margin-right: 1.25rem;
}

.buttons-wrapper {
  display: flex;
  gap: 1rem;
  margin-right: 2rem;
  .button {
    font-size: 0.875rem;
  }
}
</style>

<style lang="scss">
.q-drawer {
  background-color: transparent;
  padding: 1.5rem 0;
  .q-drawer__content {
    background-color: $white;
    border-radius: 0 8px 8px 0;
    padding: 1rem 0.5rem;
  }
}

</style>

<style lang="scss">
.q-drawer {
  background-color: transparent;
  padding: 1.5rem 0;
  .q-drawer__content {
    background-color: $white;
    border-radius: 0 8px 8px 0;
    padding: 1rem 0.5rem;
  }
}
</style>
