<template>
  <Card bordered>
    <span class="card-title">Game load structure results</span>
    <span class="card-subtitle">
      Your game is being structured in this way based on the information provided.
    </span>
    <q-list>
      <q-separator />
      <GameLoadListItem
        title="Game size"
        :value="gameSizeLocale"
        placeholder="Enter data to see the results"
      />
      <q-separator />
      <GameLoadListItem
        title="Prize fund"
        :value="prizeFundLocale"
        placeholder="Enter data to see the results"
      />
      <q-separator />
      <GameLoadListItem
        title="Odds"
        :value="odds"
        placeholder="Enter data to see the results"
      />
    </q-list>
  </Card>
</template>

<script setup lang="ts">
interface Props {
  gameSize?: number
  prizeFund?: number
  odds?: string
}

const props = withDefaults(defineProps<Props>(), {
  gameSize: 0,
  prizeFund: 0,
  odds: undefined
})

const gameSizeLocale = computed(() => props.gameSize && props.gameSize.toLocaleString('es-ES'))
const prizeFundLocale = computed(() => props.prizeFund && props.prizeFund.toLocaleString('es-ES') + ' €')
</script>

<style lang="scss" scoped>
.card-title {
  display: block;
  font-size: 1.25rem;
  color: $grey400;
  line-height: 1.4;
  font-weight: 600;
  margin-bottom: 1rem;
}

.card-subtitle {
  display: block;
  font-size: 0.875rem;
  color: $grey300;
  line-height: 1.4;
  margin-bottom: 1.5rem;
}
</style>
