<template>
  <q-toggle
    v-model="currentInput"
    color="green"
    @update:model-value="updateModel"
  />
</template>

<script setup lang="ts">
const emit = defineEmits(['update:modelValue'])

const currentInput = ref(false)

const updateModel = (value: boolean) => {
  emit('update:modelValue', value)
}

</script>
