<template>
  <div class="toggle-input">
    <span class="toggle-input__label">{{ label }}</span>
    <div class="toggle-input__wrapper">
      <span v-if="options[0]" class="toggle-input__option">{{ options[0] }}</span>
      <slot />
      <span v-if="options[1]" class="toggle-input__option">{{ options[1] }}</span>
    </div>
  </div>
</template>

<script setup lang="ts">
interface Props {
  label: string
  options: string[]
}

withDefaults(defineProps<Props>(), {
  label: 'Insert your label',
  options: () => ['No', 'Yes']
})

</script>

<style lang="scss" scoped>
.toggle-input__wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  color: $grey500;
  font-weight: 600;
  margin: 0 -0.5rem;
}

.toggle-input__label {
  color: $grey400;
  font-weight: 600;
  font-size: 1.25rem;
  display: block;
  margin-bottom: 1rem;
}
.toggle-input__option {
  padding: 0.5rem;
}
</style>

<style lang="scss">
.toggle-input__wrapper {
  .q-toggle__inner {
    padding: 0;
    width: auto;
    height: auto;
    min-width: 0;
  }
  .q-toggle__track {
    border: 2px solid $grey400;
    background-color: $blue100;
    height: 2rem;
    width: 3.25rem;
    opacity: 1;
    border-radius: 1rem;
  }
  .q-toggle__thumb {
    top: 0.5rem;
    left: 0.5rem;
    height: 1rem;
    width: 1rem;
    &:after {
      background-color: $grey400;
      box-shadow: none;
    }
  }
  .q-toggle__inner--truthy {
    .q-toggle__thumb {
      left: 1.625rem;
    }
  }
}
</style>
