<template>
  <div class="game-dashboard-page">
    <div class="header-wrapper">
      <PageTitle>Game management</PageTitle>
    </div>
    <Card>
      <div class="button-group">
        <ButtonBase
          :to="GAME_CREATE"
          variant="outlined"
          type="primary"
          data-testid="create-game"
          disabled
        >
          Create a game
        </ButtonBase>
        <ButtonBase
          :to="GAME_LOAD"
          variant="flat"
          type="primary"
          data-testid="load-game"
          disabled
        >
          Load game
        </ButtonBase>
      </div>
      <div class="games-list-all">
        <GameListFilters />
        <GameListAll />
      </div>
    </Card>
  </div>
</template>

<script setup lang="ts">
import {
  GAME_CREATE,
  GAME_LOAD
} from '~/constants/paths/game'
const gameFilters = ref({
  gameName: '',
  gameStatus: []
})
provide('gameFilters', gameFilters)
</script>

<style scoped lang="scss">
.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: flex-start;
}

.button-group {
  display: flex;
  gap: 1.25rem;
  margin-bottom: 2rem;
}

.games-list-all {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
</style>
