<template>
  <div class="retailer-detail">
    <Card bordered class="retailer-detail__navigation">
      <q-list class="retailer-detail__navigation-list">
        <template v-for="(menuItem, index) in menuList" :key="index">
          <q-item class="retailer-detail__navigation-item">
            <nuxt-link :to="menuItem.to" class="retailer-detail__navigation-link" clickable>
              {{ menuItem.label }}
              <q-icon name="arrow_forward" class="retailer-detail__navigation-icon" />
            </nuxt-link>
          </q-item>
        </template>
      </q-list>
    </Card>
    <slot />
  </div>
</template>

<script setup lang="ts">
import {
  editRetailer,
  RETAILER_DETAIL_SLUG_MASTER_DATA,
  RETAILER_DETAIL_SLUG_OTHER_DATA
} from '~/constants/paths'

const retailerId = inject<any>('retailerId')

const menuList = [
  {
    label: 'Master data',
    to: editRetailer({ id: retailerId, route: RETAILER_DETAIL_SLUG_MASTER_DATA })
  },
  {
    label: 'Other data',
    to: editRetailer({ id: retailerId, route: RETAILER_DETAIL_SLUG_OTHER_DATA })
  }
]
</script>

<style scoped lang="scss">
.retailer-detail {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}

.retailer-detail__navigation {
  display: flex;
  width: 17rem;
  border-color: $blue600;
  border-width: 1.5px;
  background-color: $blue100;
  padding: 1rem 1.5rem;
}

.retailer-detail__navigation-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.retailer-detail__navigation-item {
  font-size: 1rem;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  min-height: 0;
}

.retailer-detail__navigation-link {
  color: $grey400;
  border-radius: 0.5rem;
  text-decoration: none;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding: 0.375rem 1rem;
  &.router-link-exact-active {
    background-color: $white;
    border: 1px solid $blue500;
  }
}

.retailer-detail__navigation-icon {
  margin-left: auto;
  color: $blue500;
  font-size: 1.25rem;
}
</style>
