<template>
  <div class="status" :class="statusClass">
    {{ status }}
  </div>
</template>

<script lang="ts" setup>
interface Props {
  status?: 'ACTIVE' | 'DEACTIVATED'
}

const props = withDefaults(defineProps<Props>(), {
  status: 'ACTIVE'
})

const statusClass = computed(() => 'status--' + props.status.toLowerCase())

</script>

<style scoped lang="scss">
.status {
  border: 1px solid;
  color: $white;
  padding: 0.375rem 1rem;
  text-transform: lowercase;
  display: inline-block;
  border-radius: 0.25rem;
  &::first-letter {
    text-transform: capitalize;
  }
  &--active {
    border-color: $success;
    background-color: $green300;
  }
  &--deactivated {
    border-color: $blue300;
    background-color: $blue300;
  }
}
</style>
