<template>
  <div class="game-reports-load-files-page">
    <PageTitle>Load game report</PageTitle>
    <Card>
      <template #header>
        <div class="card-header-wizard">
          <nuxt-link
            class="card-header-wizard__goback"
            data-testid="load-game-gltp-back"
            :to="GAME_DASHBOARD"
          >
            <q-icon name="arrow_back" />
            Game management
          </nuxt-link>
          <span v-if="gameInfo.name" class="card-header-game-name">{{ gameInfo.name }}</span>
        </div>
        <CardHeading
          title="List of load reports"
          subtitle="This is a demo. No load reports will be shown"
        />
      </template>
      <div class="game-report__list-all">
        <ReportLoadFilesListAll />
      </div>
      <div class="game-report__actions">
        <ButtonBase
          variant="outlined"
          type="primary"
          data-testid="game-report-go-dashboard"
          :to="GAME_DASHBOARD"
        >
          Go to game dashboard
        </ButtonBase>
      </div>
    </Card>
  </div>
</template>

<script setup lang="ts">
import { GAME_DASHBOARD } from '~/constants/paths'
import { gameService } from '~/api/services'

const { params } = useRoute()
const { gameId } = params

const gameInfo = ref({
  name: ''
})

onBeforeMount(async () => {
  const game = await gameService.games.get(gameId)
  if (game.data.value) {
    setInitialGameData(game.data.value)
  }
})

const setInitialGameData = (data: { name: string }) => {
  gameInfo.value.name = data.name
}
</script>

<style scoped lang="scss">
.game-report__actions {
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 1px solid $grey100;
  display: flex;
  gap: 1.5rem;
}

.card-header-wizard {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  height: 2rem;
}

.card-header-wizard__goback {
  color: $blue500;
  font-weight: 600;
  font-size: 1rem;
  text-decoration: none;
  i {
    margin-right: 0.25rem;
    font-size: 1.25rem;
  }
}

.card-header-game-name {
  background-color: $blue100;
  border-radius: 0.25rem;
  padding: 0.25rem 1rem;
  font-weight: 400;
  color: $grey400;
  border: 1px solid $grey300;
}
</style>
