<template>
  <div class="other-data__commissions">
    <CardHeadingSection title="Commissions per game" class="other-data__commissions-heading" />
    <q-form ref="otherDataCommissionsForm" :greedy="true">
      <div class="form-fields">
        <div class="form-fields__row">
          <InputSelectFilter
            v-model="inputs.gameId"
            v-bind="fields.gameId"
            :options="listOfGames"
            :init-value="inputs.gameId"
            data-testid="other-data-commissions-gameId"
          />
          <InputText
            v-model.number="inputs.sales"
            v-bind="fields.sales"
            data-testid="other-data-commissions-sales"
            type="number"
          />
          <InputText
            v-model.number="inputs.prizePayment"
            v-bind="fields.prizePayment"
            data-testid="other-data-commissions-prize-payment"
            type="number"
          />
        </div>
      </div>
      <ButtonBase
        variant="outlined"
        type="primary"
        data-testid="load-game-prize-structure-add-record"
        icon-append="add"
        :disabled="!enableButtonAddCommission"
        class="other-data__commissions-add"
        @click="addCommission"
      >
        Add commission
      </ButtonBase>
    </q-form>
    <TableBlank v-if="commissionsList.length" class="other-data__commissions-table">
      <thead>
        <tr>
          <th class="cell-left cell-bold">
            Game
          </th>
          <th class="cell-right">
            Sales commissions
          </th>
          <th class="cell-right">
            Prize payment commissions
          </th>
        </tr>
      </thead>
      <tbody>
        <template v-for="(item, index) in commissionsList" :key="item + index">
          <tr>
            <td class="cell-left">
              {{ getGameTitle(item.gameId) }}
            </td>
            <td class="cell-right">
              {{ item.sales + ' %' }}
            </td>
            <td class="cell-right">
              {{ item.prizePayment + ' %' }}
            </td>
          </tr>
        </template>
      </tbody>
    </TableBlank>
  </div>
</template>

<script lang="ts" setup>
import { gameService } from '~/api/services'

const inputs = ref({
  gameId: undefined,
  sales: undefined,
  prizePayment: undefined
})

const fields = {
  gameId: {
    label: 'Game',
    placeholder: 'Select a game',
    rules: [
      (input: string) => {
        return (
          validations.isNotEmpty(input)) ||
          'You must select a game to apply settlement rules'
      },
      (input: string) => {
        return (
          !(commissionsList.value.length && commissionsList.value.some((game: { gameId: string }) => game.gameId === input)) ||
          'This game has settlement rules defined'
        )
      }
    ]
  },
  sales: {
    label: 'Sales comissions',
    placeholder: 'Enter percentage',
    prependIcon: 'percent',
    rules: [
      (input: number) => {
        return (validations.types.isNumber(input) && validations.compare.isNumberInRange(input, [0, 100])) ||
        'Enter a percentage'
      }
    ]
  },
  prizePayment: {
    label: 'Prize payment comissions',
    placeholder: 'Enter percentage',
    prependIcon: 'percent',
    rules: [
      (input: number) => {
        return (validations.types.isNumber(input) && validations.compare.isNumberInRange(input, [0, 100])) ||
        'Enter a percentage'
      }
    ]
  }
}

const otherDataCommissionsForm = ref(null)
const listOfGames = ref([])

const commissionsList = inject<any>('commissionsData')

onBeforeMount(async () => {
  const listOfGamesResponse = await gameService.games.getAll({ status: ['CREATED', 'LOADED'] })
  if (listOfGamesResponse.data.value) {
    setInitialData(listOfGamesResponse.data.value)
  }
})

const setInitialData = (data:any) => {
  const listOfFetchedGames = data.map((el: { gameId: string; lotteryNumber: string; name: string; }) => {
    return {
      label: el.lotteryNumber + ' - ' + el.name,
      value: el.gameId
    }
  })
  listOfGames.value = listOfFetchedGames
}

const enableButtonAddCommission = computed(() => {
  return objectHasAllPropsDefined(inputs.value)
})

const addCommission = async () => {
  const isFormValid = await otherDataCommissionsForm.value?.validate()
  if (isFormValid) {
    commissionsList.value.push({ ...inputs.value })
  }
}

const getGameTitle = (gameId: string) => {
  const game = listOfGames.value.find((game: { label: string, value: string }) => game.value === gameId)
  return game && game?.label
}

</script>

<style lang="scss" scoped>

.form-fields {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
}
.form-fields__row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.25rem;
  >* {
    flex: 1 1;
  }
}

.other-data__commissions {
  border: 1px solid $blue300;
  padding: 1rem;
  border-radius: 0.5rem;
  border-top-left-radius: inherit !important;
  border-top-right-radius: inherit !important;
  border-bottom: inherit !important;
}

.other-data__commissions-heading {
  margin-bottom: 1.75rem;
}

.other-data__commissions-add {
  margin: -0.75rem 0 1.25rem;
}

.other-data__commissions-table {
  margin-bottom: 1rem;
}

</style>
