<template>
  <InputText
    v-model.trim="inputs.contactName"
    v-bind="fields.contactName"
    autofocus
    data-testid="other-data-contact-name"
  />
  <div class="form-fields__row">
    <InputText
      v-model.trim="inputs.phoneNumber"
      v-bind="fields.phoneNumber"
      mask="+72 (##) ## ### ###"
      data-testid="other-data-phone-number"
    />
    <InputText
      v-model.trim="inputs.email"
      v-bind="fields.email"
      data-testid="other-data-email"
    />
  </div>
  <div class="form-fields__row">
    <InputSelect
      v-model="inputs.fieldRepresentative"
      v-bind="fields.fieldRepresentative"
      :options="fieldRepresentativeOptions"
      data-testid="other-data-field-representative"
    />
    <InputSelect
      v-model="inputs.courier"
      v-bind="fields.courier"
      :options="courierOptions"
      data-testid="other-data-courier"
    />
  </div>
  <InputText
    v-model.number="inputs.specialBalanceCadence"
    v-bind="fields.specialBalanceCadence"
    data-testid="other-data-special-balance-cadence"
  />
  <InputToggleWrapper
    class="other-data__settlement-enable"
    v-bind="fields.specificInvoiceCadence"
  >
    <InputToggle
      v-model="inputs.specificInvoiceCadence"
      data-testid="other-data-specific-invoice-cadence"
    />
  </InputToggleWrapper>
  <InputText
    v-model.number="inputs.specificLimitPayablePrize"
    v-bind="fields.specificLimitPayablePrize"
    data-testid="other-data-specific-limit-payable-prize"
  />
  <div class="form-fields__row">
    <InputToggleWrapper
      class="other-data__settlement-enable"
      v-bind="fields.initialDistribution"
    >
      <InputToggle
        v-model="inputs.initialDistribution"
        data-testid="other-data-initial-distribution"
      />
    </InputToggleWrapper>
    <InputText
      v-model.trim="inputs.numberOfPacks"
      v-bind="fields.numberOfPacks"
      data-testid="other-data-number-of-packs"
    />
  </div>
  <InputToggleWrapper
    class="other-data__settlement-enable"
    v-bind="fields.requiredReturnPaidTickets"
  >
    <InputToggle
      v-model="inputs.requiredReturnPaidTickets"
      data-testid="other-data-required-return-paid-tickets"
    />
  </InputToggleWrapper>
</template>

<script lang="ts" setup>
import { retailerService } from '~/api/services'

const data = inject('mainData')

const inputs = ref<any>(data)

const fields = {
  contactName: {
    label: 'Contact name',
    placeholder: 'Enter a name',
    rules: [
      (input: string) => {
        return (
          validations.isNotEmpty(input)) ||
          'Enter a contact name'
      },
      (input: string) => {
        return (
          validations.types.isAlphaNumeric(input)) ||
          'Special characters not allowed'
      }
    ]
  },
  phoneNumber: {
    label: 'Phone No.',
    placeholder: '+72 (__) ___ __ __',
    rules: [
      (input: string) => {
        return (
          validations.isNotEmpty(input)) ||
          'Enter a valid phone number'
      }
    ]
  },
  email: {
    label: 'E-mail',
    placeholder: 'Enter an email address',
    rules: [
      (input: string) => {
        return (
          validations.isNotEmpty(input)) ||
          'Enter a valid email address'
      },
      (input: string) => {
        return (
          validations.types.isEmail(input))
      }
    ]
  },
  fieldRepresentative: {
    label: 'Field representative',
    placeholder: 'Enter a name',
    rules: [
      (input: string) => {
        return (
          validations.isNotEmpty(input))
      }
    ]
  },
  courier: {
    label: 'Courier',
    placeholder: 'Select a Courier',
    rules: [
      (input: string) => {
        return (
          validations.isNotEmpty(input))
      }
    ]
  },
  specialBalanceCadence: {
    label: 'Special Balance cadence',
    placeholder: 'Enter a balance per days',
    rules: [
      (input: string) => {
        return (
          validations.isNotEmpty(input))
      },
      (input: string) => {
        return (
          (validations.types.isNumber(input)) && validations.compare.isNumberGreaterThan(input, 0)) ||
          'It cannot be less than 0'
      }
    ]
  },
  specificInvoiceCadence: {
    label: 'Specific invoice cadence',
    options: ['Twice a month', 'Monthly']
  },
  specificLimitPayablePrize: {
    label: 'Specific limit on payable prize amount',
    placeholder: 'Enter a limit',
    rules: [
      (input: number) => {
        return (
          validations.isNotEmpty(input))
      },
      (input: number) => {
        return (
          (validations.types.isNumber(input)) && validations.compare.isNumberGreaterThan(input, 0)) ||
          'It cannot be less than 0'
      }
    ]
  },
  initialDistribution: {
    label: 'Initial distribution',
    options: ['No', 'Yes']
  },
  numberOfPacks: {
    label: 'No. of packs',
    placeholder: 'Enter a limit',
    rules: [
      (input: number) => {
        return (
          validations.isNotEmpty(input))
      },
      (input: number) => {
        return (
          (validations.types.isNumber(input)) && validations.compare.isNumberGreaterThan(input, 0)) ||
          'It cannot be less than 0'
      }
    ]
  },
  requiredReturnPaidTickets: {
    label: 'Required to Return Paid Tickets',
    options: ['No', 'Yes']
  }
}

const fieldRepresentativeOptions = ref([])
const courierOptions = ref([])

onBeforeMount(async () => {
  const [fieldRepresentativeOptionsRes, courierOptionsRes] = await Promise.all([
    retailerService.fieldRepresentative.get(),
    retailerService.courier.get()
  ])
  if (fieldRepresentativeOptionsRes.data.value) {
    setInitialRepresentativeData(fieldRepresentativeOptionsRes.data.value)
  }
  if (courierOptionsRes.data.value) {
    setInitialCourierData(courierOptionsRes.data.value)
  }
})

const setInitialRepresentativeData = (data:any) => {
  fieldRepresentativeOptions.value = data && data.map((el: { name: string; id: string; }) => {
    return {
      label: el.name,
      value: el.id
    }
  })
}

const setInitialCourierData = (data:any) => {
  courierOptions.value = data && data.map((el: { name: string; id: string; }) => {
    return {
      label: el.name,
      value: el.id
    }
  })
}

</script>

<style lang="scss" scoped>
.form-fields__row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.25rem;
  >* {
    flex: 1 1;
  }
}

.other-data__settlement-enable {
  display: flex;
  align-items: center;
  gap: 2rem;
  :deep(.toggle-input__label) {
    margin-bottom: 0;
  }
}
</style>
